{
  "http_interactions": [
    {
      "recorded_at": "2017-06-12T13:13:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/auserwhichdoesntexist/arepowhichdoesntexist"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "404 Not Found",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4997",
          "X-RateLimit-Reset": "1497276825"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.github.com/repos/auserwhichdoesntexist/arepowhichdoesntexist"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}