{
  "http_interactions": [
    {
      "recorded_at": "2017-06-12T13:13:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/servo/servo"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":3390243,\"name\":\"servo\",\"full_name\":\"servo/servo\",\"owner\":{\"login\":\"servo\",\"id\":2566135,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2566135?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/servo\",\"html_url\":\"https://github.com/servo\",\"followers_url\":\"https://api.github.com/users/servo/followers\",\"following_url\":\"https://api.github.com/users/servo/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/servo/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/servo/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/servo/subscriptions\",\"organizations_url\":\"https://api.github.com/users/servo/orgs\",\"repos_url\":\"https://api.github.com/users/servo/repos\",\"events_url\":\"https://api.github.com/users/servo/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/servo/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/servo/servo\",\"description\":\"The Servo Browser Engine\",\"fork\":false,\"url\":\"https://api.github.com/repos/servo/servo\",\"forks_url\":\"https://api.github.com/repos/servo/servo/forks\",\"keys_url\":\"https://api.github.com/repos/servo/servo/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/servo/servo/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/servo/servo/teams\",\"hooks_url\":\"https://api.github.com/repos/servo/servo/hooks\",\"issue_events_url\":\"https://api.github.com/repos/servo/servo/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/servo/servo/events\",\"assignees_url\":\"https://api.github.com/repos/servo/servo/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/servo/servo/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/servo/servo/tags\",\"blobs_url\":\"https://api.github.com/repos/servo/servo/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/servo/servo/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/servo/servo/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/servo/servo/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/servo/servo/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/servo/servo/languages\",\"stargazers_url\":\"https://api.github.com/repos/servo/servo/stargazers\",\"contributors_url\":\"https://api.github.com/repos/servo/servo/contributors\",\"subscribers_url\":\"https://api.github.com/repos/servo/servo/subscribers\",\"subscription_url\":\"https://api.github.com/repos/servo/servo/subscription\",\"commits_url\":\"https://api.github.com/repos/servo/servo/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/servo/servo/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/servo/servo/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/servo/servo/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/servo/servo/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/servo/servo/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/servo/servo/merges\",\"archive_url\":\"https://api.github.com/repos/servo/servo/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/servo/servo/downloads\",\"issues_url\":\"https://api.github.com/repos/servo/servo/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/servo/servo/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/servo/servo/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/servo/servo/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/servo/servo/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/servo/servo/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/servo/servo/deployments\",\"created_at\":\"2012-02-08T19:07:25Z\",\"updated_at\":\"2017-06-12T07:35:33Z\",\"pushed_at\":\"2017-06-12T12:59:22Z\",\"git_url\":\"git://github.com/servo/servo.git\",\"ssh_url\":\"git@github.com:servo/servo.git\",\"clone_url\":\"https://github.com/servo/servo.git\",\"svn_url\":\"https://github.com/servo/servo\",\"homepage\":\"https://servo.org/\",\"size\":348350,\"stargazers_count\":9517,\"watchers_count\":9517,\"language\":null,\"has_issues\":true,\"has_projects\":false,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":1629,\"mirror_url\":null,\"open_issues_count\":2192,\"forks\":1629,\"open_issues\":2192,\"watchers\":9517,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true},\"organization\":{\"login\":\"servo\",\"id\":2566135,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2566135?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/servo\",\"html_url\":\"https://github.com/servo\",\"followers_url\":\"https://api.github.com/users/servo/followers\",\"following_url\":\"https://api.github.com/users/servo/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/servo/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/servo/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/servo/subscriptions\",\"organizations_url\":\"https://api.github.com/users/servo/orgs\",\"repos_url\":\"https://api.github.com/users/servo/repos\",\"events_url\":\"https://api.github.com/users/servo/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/servo/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"network_count\":1629,\"subscribers_count\":419}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"4afd6335793c4c2cec50d45f72296ffa\"",
          "Last-Modified": "Mon, 12 Jun 2017 07:35:33 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4998",
          "X-RateLimit-Reset": "1497276825"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/servo/servo"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}