{
  "http_interactions": [
    {
      "recorded_at": "2017-04-21T00:25:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/servo/servo"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":3390243,\"name\":\"servo\",\"full_name\":\"servo/servo\",\"owner\":{\"login\":\"servo\",\"id\":2566135,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2566135?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/servo\",\"html_url\":\"https://github.com/servo\",\"followers_url\":\"https://api.github.com/users/servo/followers\",\"following_url\":\"https://api.github.com/users/servo/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/servo/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/servo/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/servo/subscriptions\",\"organizations_url\":\"https://api.github.com/users/servo/orgs\",\"repos_url\":\"https://api.github.com/users/servo/repos\",\"events_url\":\"https://api.github.com/users/servo/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/servo/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/servo/servo\",\"description\":\"The Servo Browser Engine\",\"fork\":false,\"url\":\"https://api.github.com/repos/servo/servo\",\"forks_url\":\"https://api.github.com/repos/servo/servo/forks\",\"keys_url\":\"https://api.github.com/repos/servo/servo/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/servo/servo/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/servo/servo/teams\",\"hooks_url\":\"https://api.github.com/repos/servo/servo/hooks\",\"issue_events_url\":\"https://api.github.com/repos/servo/servo/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/servo/servo/events\",\"assignees_url\":\"https://api.github.com/repos/servo/servo/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/servo/servo/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/servo/servo/tags\",\"blobs_url\":\"https://api.github.com/repos/servo/servo/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/servo/servo/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/servo/servo/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/servo/servo/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/servo/servo/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/servo/servo/languages\",\"stargazers_url\":\"https://api.github.com/repos/servo/servo/stargazers\",\"contributors_url\":\"https://api.github.com/repos/servo/servo/contributors\",\"subscribers_url\":\"https://api.github.com/repos/servo/servo/subscribers\",\"subscription_url\":\"https://api.github.com/repos/servo/servo/subscription\",\"commits_url\":\"https://api.github.com/repos/servo/servo/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/servo/servo/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/servo/servo/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/servo/servo/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/servo/servo/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/servo/servo/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/servo/servo/merges\",\"archive_url\":\"https://api.github.com/repos/servo/servo/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/servo/servo/downloads\",\"issues_url\":\"https://api.github.com/repos/servo/servo/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/servo/servo/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/servo/servo/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/servo/servo/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/servo/servo/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/servo/servo/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/servo/servo/deployments\",\"created_at\":\"2012-02-08T19:07:25Z\",\"updated_at\":\"2017-04-20T20:48:47Z\",\"pushed_at\":\"2017-04-21T00:20:30Z\",\"git_url\":\"git://github.com/servo/servo.git\",\"ssh_url\":\"git@github.com:servo/servo.git\",\"clone_url\":\"https://github.com/servo/servo.git\",\"svn_url\":\"https://github.com/servo/servo\",\"homepage\":\"https://servo.org/\",\"size\":326890,\"stargazers_count\":9259,\"watchers_count\":9259,\"language\":null,\"has_issues\":true,\"has_projects\":false,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":1586,\"mirror_url\":null,\"open_issues_count\":2162,\"forks\":1586,\"open_issues\":2162,\"watchers\":9259,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true},\"organization\":{\"login\":\"servo\",\"id\":2566135,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2566135?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/servo\",\"html_url\":\"https://github.com/servo\",\"followers_url\":\"https://api.github.com/users/servo/followers\",\"following_url\":\"https://api.github.com/users/servo/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/servo/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/servo/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/servo/subscriptions\",\"organizations_url\":\"https://api.github.com/users/servo/orgs\",\"repos_url\":\"https://api.github.com/users/servo/repos\",\"events_url\":\"https://api.github.com/users/servo/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/servo/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"network_count\":1586,\"subscribers_count\":433}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"c3927170223bdefbeec7f41d82fe694c\"",
          "Last-Modified": "Thu, 20 Apr 2017 20:48:47 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4999",
          "X-RateLimit-Reset": "1492737938"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/servo/servo"
      }
    },
    {
      "recorded_at": "2017-04-21T00:25:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/servo/servo/pulls/16549"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/repos/servo/servo/pulls/16549\",\"id\":116863705,\"html_url\":\"https://github.com/servo/servo/pull/16549\",\"diff_url\":\"https://github.com/servo/servo/pull/16549.diff\",\"patch_url\":\"https://github.com/servo/servo/pull/16549.patch\",\"issue_url\":\"https://api.github.com/repos/servo/servo/issues/16549\",\"number\":16549,\"state\":\"closed\",\"locked\":false,\"title\":\"store simple selectors and combinators inline\",\"user\":{\"login\":\"bholley\",\"id\":377435,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/377435?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bholley\",\"html_url\":\"https://github.com/bholley\",\"followers_url\":\"https://api.github.com/users/bholley/followers\",\"following_url\":\"https://api.github.com/users/bholley/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bholley/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bholley/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bholley/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bholley/orgs\",\"repos_url\":\"https://api.github.com/users/bholley/repos\",\"events_url\":\"https://api.github.com/users/bholley/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bholley/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"https://bugzilla.mozilla.org/show_bug.cgi?id=1357973\\n\\n<!-- Reviewable:start -->\\n---\\nThis change is\u2002[<img src=\\\"https://reviewable.io/review_button.svg\\\" height=\\\"34\\\" align=\\\"absmiddle\\\" alt=\\\"Reviewable\\\"/>](https://reviewable.io/reviews/servo/servo/16549)\\n<!-- Reviewable:end -->\\n\",\"created_at\":\"2017-04-20T21:01:53Z\",\"updated_at\":\"2017-04-20T22:42:24Z\",\"closed_at\":\"2017-04-20T22:42:23Z\",\"merged_at\":\"2017-04-20T22:42:23Z\",\"merge_commit_sha\":\"fe97033aa877f85e1ad2438245861a4425977e9b\",\"assignee\":{\"login\":\"emilio\",\"id\":1323194,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/1323194?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/emilio\",\"html_url\":\"https://github.com/emilio\",\"followers_url\":\"https://api.github.com/users/emilio/followers\",\"following_url\":\"https://api.github.com/users/emilio/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/emilio/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/emilio/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/emilio/subscriptions\",\"organizations_url\":\"https://api.github.com/users/emilio/orgs\",\"repos_url\":\"https://api.github.com/users/emilio/repos\",\"events_url\":\"https://api.github.com/users/emilio/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/emilio/received_events\",\"type\":\"User\",\"site_admin\":false},\"assignees\":[{\"login\":\"emilio\",\"id\":1323194,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/1323194?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/emilio\",\"html_url\":\"https://github.com/emilio\",\"followers_url\":\"https://api.github.com/users/emilio/followers\",\"following_url\":\"https://api.github.com/users/emilio/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/emilio/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/emilio/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/emilio/subscriptions\",\"organizations_url\":\"https://api.github.com/users/emilio/orgs\",\"repos_url\":\"https://api.github.com/users/emilio/repos\",\"events_url\":\"https://api.github.com/users/emilio/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/emilio/received_events\",\"type\":\"User\",\"site_admin\":false}],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/servo/servo/pulls/16549/commits\",\"review_comments_url\":\"https://api.github.com/repos/servo/servo/pulls/16549/comments\",\"review_comment_url\":\"https://api.github.com/repos/servo/servo/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/servo/servo/issues/16549/comments\",\"statuses_url\":\"https://api.github.com/repos/servo/servo/statuses/fe97033aa877f85e1ad2438245861a4425977e9b\",\"head\":{\"label\":\"bholley:inline_selectors\",\"ref\":\"inline_selectors\",\"sha\":\"fe97033aa877f85e1ad2438245861a4425977e9b\",\"user\":{\"login\":\"bholley\",\"id\":377435,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/377435?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bholley\",\"html_url\":\"https://github.com/bholley\",\"followers_url\":\"https://api.github.com/users/bholley/followers\",\"following_url\":\"https://api.github.com/users/bholley/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bholley/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bholley/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bholley/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bholley/orgs\",\"repos_url\":\"https://api.github.com/users/bholley/repos\",\"events_url\":\"https://api.github.com/users/bholley/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bholley/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":13421111,\"name\":\"servo\",\"full_name\":\"bholley/servo\",\"owner\":{\"login\":\"bholley\",\"id\":377435,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/377435?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bholley\",\"html_url\":\"https://github.com/bholley\",\"followers_url\":\"https://api.github.com/users/bholley/followers\",\"following_url\":\"https://api.github.com/users/bholley/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bhol[...]
    {
      "recorded_at": "2017-04-21T00:25:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/users/bholley"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"login\":\"bholley\",\"id\":377435,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/377435?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bholley\",\"html_url\":\"https://github.com/bholley\",\"followers_url\":\"https://api.github.com/users/bholley/followers\",\"following_url\":\"https://api.github.com/users/bholley/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bholley/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bholley/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bholley/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bholley/orgs\",\"repos_url\":\"https://api.github.com/users/bholley/repos\",\"events_url\":\"https://api.github.com/users/bholley/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bholley/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"Bobby Holley\",\"company\":\"Mozilla\",\"blog\":\"http://bholley.net\",\"location\":null,\"email\":\"bobbyholley@gmail.com\",\"hireable\":null,\"bio\":null,\"public_repos\":22,\"public_gists\":1,\"followers\":40,\"following\":0,\"created_at\":\"2010-08-27T00:17:16Z\",\"updated_at\":\"2017-04-18T17:26:07Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"b52c199467ec7fa9b4f66e837e1d2ead\"",
          "Last-Modified": "Tue, 18 Apr 2017 17:26:07 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4997",
          "X-RateLimit-Reset": "1492737938"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/users/bholley"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}