ul.current-arrow > li {
  label {
    font-size: 100% !important;
    margin-right: 5px;
  }

  &[current="true"] {
    list-style-type: none;
    &::before {
      content: "➡";
      margin-left: -1em;
    }
  }
}

.reviews-diffs-links {
  margin-bottom: 10px;
}

#error-container {
  &:not([haserror="true"]) {
    display: none;
  }

  border: 1px solid red;
  background-color: #ffb2b2;
  padding: 15px;

  h1 {
    font-size: 1.3em;
    font-weight: bold;
  }

  #error-stack {
    display: none;
  }

  #error-stack-toggle {
    display: block;
  }

  #error-close {
    display: block;
    margin-top: 1.5em;
  }
}