ul.current-arrow > li {
  label {
    font-size: 100% !important;
    margin-right: 5px;
  }

  &[current="true"] {
    list-style-type: none;
    &::before {
      content: "➡";
      margin-left: -1em;
    }
  }
}

.reviews-diffs-links {
  margin-bottom: 10px;
}
