#new-navbar {
  padding: 10px 0px;
  border-color: #555;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;

  li {
    display: inline;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    a {
      border-right: 1px solid #555;
      padding: 10px 50px;
      color: #333;
      text-decoration: none;
    }
  }
}