[replicationrules]
include.top = re:\{moz\}/((mozilla-(central|unified))|comm-central)$
include.ci = re:\{moz\}/ci/.*
include.ciadmin = re:\{moz\}/build/(ci-admin|ci-configuration)$
include.integration = re:\{moz\}/integration/(autoland|mozilla-inbound)$
include.projects = re:\{moz\}/projects/(ash|birch|cedar|elm|holly|jamun|kaios|larch|maple|nss|nss-try|oak|pine)$
include.releases = re:\{moz\}/releases/((mozilla-(beta|esr60|esr68|release))|comm-(beta|esr52|esr60|esr68))$
include.tryrepos = re:\{moz\}/try.*
include.vct = path:{moz}/hgcustom/version-control-tools
