# vim: syntax=apache

WSGISocketPrefix /var/run/wsgi
WSGIPythonHome /var/hg/venv_hgweb

# Default is 100. Mercurial encodes some arguments in HTTP request headers.
# Repos with large numbers of heads (namely Try) run into these limits.
LimitRequestFields 1000

<VirtualHost *:80>
    ServerName hg.mozilla.org
    DocumentRoot /repo_local/mozilla/webroot_wsgi

    # Clients processing e.g. bundle data may consume data much slower than the
    # server can emit. This can result in the network being idle for >60s.
    # Compounding this problem is that the load balancer has its own buffer.
    # So there may be network activity between the client and the load balancer
    # but not between the load balancer and this server. That can lead to even
    # longer periods of network idle. We increase the timeout from its default
    # of 60s to mitigate this problem.
    #
    # Since the TCP connection between the load balancer and this server doesn't
    # totally reflect what the TCP connection between the client and load
    # balancer is doing, measuring idle on this server is not very useful.
    # Instead, network idle should be measured (and enforced) on the load
    # balancer.
    #
    # If this value is too small, logs will appear in the error log:
    #
    #   The timeout specified has expired: ... mod_wsgi ... Failed to proxy response to client
    Timeout 120

    RewriteEngine on
    RewriteRule ^/(.*)index.cgi/?(.*) https://hg.mozilla.org/$1$2

    SetEnv HGENCODING UTF-8
    SetEnv LC_TYPE UTF-8

    WSGIDaemonProcess hg.mozilla.org processes={{ wsgi_processes }} threads=1 maximum-requests=20 deadlock-timeout=60 inactivity-timeout=300 user=hg group=hg display-name=hg.mozilla.org
    WSGIProcessGroup hg.mozilla.org

    # This is needed so sub-interpreters aren't used. This prevents a
    # known Mercurial bug (bug 1172739) and should make the server run a
    # bit faster since it won't have to constantly load modules.
    WSGIApplicationGroup %{GLOBAL}

    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/json

    WSGIScriptAliasMatch ^/(users/[^/]+)(.*) /repo_local/mozilla/webroot_wsgi/$1/hgweb.wsgi$2
    WSGIScriptAliasMatch ^/(releases/l10n-mozilla-1.9..)(.*) /repo_local/mozilla/webroot_wsgi/$1/hgweb.wsgi$2
    WSGIScriptAliasMatch ^/(releases/l10n-mozilla-2.0)(.*) /repo_local/mozilla/webroot_wsgi/$1/hgweb.wsgi$2
    WSGIScriptAliasMatch ^/(releases/l10n-miramar)(.*) /repo_local/mozilla/webroot_wsgi/$1/hgweb.wsgi$2
    WSGIScriptAliasMatch ^/(releases/gaia-l10n/[^/]+)(.*) /repo_local/mozilla/webroot_wsgi/$1/hgweb.wsgi$2
    WSGIScriptAliasMatch ^/(releases/l10n/mozilla-aurora)(.*) /repo_local/mozilla/webroot_wsgi/$1/hgweb.wsgi$2
    WSGIScriptAliasMatch ^/(releases/l10n/mozilla-beta)(.*) /repo_local/mozilla/webroot_wsgi/$1/hgweb.wsgi$2
    WSGIScriptAliasMatch ^/(releases/l10n/mozilla-release)(.*) /repo_local/mozilla/webroot_wsgi/$1/hgweb.wsgi$2
    WSGIScriptAliasMatch ^/(experimental|incubator|testpilot-l10n|weave-l10n|gaia-l10n|build|labs|services|l10n(?!-)|l10n-central|projects|automation|qa|hgcustom|webtools|releases|rewriting-and-analysis|www|SeaMonkey)(.*) /repo_local/mozilla/webroot_wsgi/$1/hgweb.wsgi$2
    WSGIScriptAliasMatch ^/dist(.*) /repo_local/mozilla/webroot_wsgi/dist/hgweb.wsgi$1
    WSGIScriptAliasMatch ^/integration(.*) /repo_local/mozilla/webroot_wsgi/integration/hgweb.wsgi$1
    WSGIScriptAliasMatch ^/mozreview(.*) /repo_local/mozilla/webroot_wsgi/mozreview/hgweb.wsgi$1
    WSGIScriptAliasMatch ^(/(?!users|robots).*) /repo_local/mozilla/webroot_wsgi/hgweb.wsgi$1

    <Location /users>
        Options +Indexes
        Require all granted
    </Location>

    <Location /server-status>
        SetHandler server-status

        {% for ip in httpd_server_status_allow %}
        Require ip {{ ip }}
        {% endfor %}
    </Location>

    #LogLevel debug
    LogFormat "%h %v %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\" \"%{Cookie}i\""
    ErrorLog "/var/log/httpd/hg.mozilla.org/error_log"
    CustomLog "/var/log/httpd/hg.mozilla.org/access_log" combined env=!image

    # Nested <If> doesn't work reliably. <Location> also doesn't work inside
    # <If>. So our strategy for complex conditionals is to set an environment
    # variable then do vanilla <If> or <If> inside <Location>.

    # Set a variable for Mercurial agent and wire protocol requests
    SetEnvIf User-Agent mercurial\/proto HG_PROTOCOL=1
    # SetEnvIf can't access the query string. Yes, really. So use mod_rewrite.
    RewriteCond %{QUERY_STRING} cmd= [NC]
    RewriteRule ^ - [E=HG_PROTOCOL:1]

    # Enable HSTS unless for HG clients.
    <If "-z env('HG_PROTOCOL')">
        Header set Strict-Transport-Security max-age=31536000
    </If>

    # Reftest analyzer needs a lot of exceptions to work. Bug 1200501
    # tracks not hosting it from VCS.
    #
    # Mercurial's built-in CSP support doesn't allow to change the policy per
    # URL. So we special case it and override hgweb's header here.
    <Location "/mozilla-central/raw-file/tip/layout/tools/reftest/reftest-analyzer.xhtml">
        Header set Content-Security-Policy "default-src 'none'; connect-src 'self' https://archive.mozilla.org/ https://public-artifacts.taskcluster.net/ https://queue.taskcluster.net/ https://taskcluster-artifacts.net/; img-src 'self' data:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; upgrade-insecure-requests; frame-ancestors https:"
    </Location>

    <If "-n env('HG_PROTOCOL')">
        Header unset Content-Security-Policy
    </If>
</VirtualHost>

# Local variables:
# mode: apache
# tab-width: 4
# indent-tabs-mode: nil
# end:
