sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
Sphinx
sphinx-rtd-theme

# Generating Python module documentation requires importing these packages.
backports.lzma
docker<2.6
coverage
futures
mach==0.5.1
mercurial==4.8
PyYAML

# blockdiag has a dependency on setuptools, which pip-compile doesn't
# include by default. So we need to list it here.
setuptools
