sphinxcontrib-blockdiag==1.5.5
sphinxcontrib-nwdiag==0.9.5
sphinxcontrib-seqdiag==0.8.5
Sphinx==1.3.3
sphinx-rtd-theme==0.1.9

# Generating Python module documentation requires importing these packages.
backports.lzma
docker<2.6
coverage
futures
mach==0.5.1
mercurial==4.7.2
PyYAML

# blockdiag has a dependency on setuptools, which pip-compile doesn't
# include by default. So we need to list it here.
setuptools
