sphinxcontrib-blockdiag==1.5.5
sphinxcontrib-nwdiag==0.9.5
sphinxcontrib-seqdiag==0.8.5
Sphinx==1.3.3
sphinx-rtd-theme==0.1.9

# Dependencies.
# TODO unpin most of these.
alabaster==0.7.3
Babel==1.3
docutils==0.12
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.7.0
pillowfight==0.2
Pygments==2.1.1
six==1.10.0
snowballstemmer==1.2.0
