-r deploy-requirements.in
-r pylib/vcsreplicator/requirements.in

# Used by docker.py.
backports.lzma

# So we can obtain code coverage.
coverage

# Used by docker.py.
docker

# used to test s3 wireprotocache
Flask

# For code linting.
flake8

# Used by ansible plugin.
lockfile

# Used by docker.py.
mechanize

# used to test s3 wireprotocache
moto

# Used by hgweb.
mozbuild==0.2

# Used for testing.
nose

# Used for color in test suite
Pygments==2.3.1

# Used for testing.
pytest

# Used in a variety of places.
python-hglib

# Needed for tests using LDAP.
python-ldap

# Used for some Python unit tests.
responses

# used to test s3 wireprotocache

simplejson
