-r deploy-requirements.in

backports.lzma
boto
cbor2
coverage
docker==2.5.1
flake8
kafka-python==1.4.2
kombu==3.0.30
lockfile
mechanize
mozbuild==0.2
mozlog
nose
pytest
python-hglib
python-ldap
requests==2.10.0
responses
selenium
