 <entry>
  <title>#desc|strip|firstline|strip|escape#</title>
  <id>http://www.selenic.com/mercurial/#changeset-{node}</id>
  <link href="{urlbase}{url}rev/{node}"/>
  <author>
   <name>#author|person|escape#</name>
   <email>#author|email|obfuscate#</email>
  </author>
  <updated>#date|rfc3339date#</updated>
  <published>#date|rfc3339date#</published>
  <content type="html">#desc|escape|addbreaks|xmlescape#</content>
 </entry>
