{header}
 <id>{urlbase}{url|urlescape}pushlog</id>
 <link rel="self" href="{urlbase}{url|urlescape}pushlog"/>
 <link rel="alternate" href="{urlbase}{url|urlescape}pushloghtml"/>
 <title>{repo|escape} Pushlog</title>
 <updated>{date}</updated>
{entries%pushlogentry}
</feed>
