{header}
 <id>{urlbase}{url}pushlog</id>
 <link rel="self" href="{urlbase}{url}pushlog"/>
 <link rel="alternate" href="{urlbase}{url}pushloghtml"/>
 <title>{repo|escape} Pushlog</title>
 <updated>{date}</updated>
{entries%pushlogentry}
</feed>
