[web]
style = gitweb_mozilla
baseurl = http://hg.mozilla.org/releases

[paths]
b2g-ota = /repo/hg/mozilla/releases/b2g-ota
comm-1.9.1 = /repo/hg/mozilla/releases/comm-1.9.1
comm-1.9.2 = /repo/hg/mozilla/releases/comm-1.9.2
comm-2.0 = /repo/hg/mozilla/releases/comm-2.0
comm-aurora = /repo/hg/mozilla/releases/comm-aurora
comm-beta = /repo/hg/mozilla/releases/comm-beta
comm-esr10 = /repo/hg/mozilla/releases/comm-esr10
comm-esr17 = /repo/hg/mozilla/releases/comm-esr17
comm-esr24 = /repo/hg/mozilla/releases/comm-esr24
comm-esr31 = /repo/hg/mozilla/releases/comm-esr31
comm-esr38 = /repo/hg/mozilla/releases/comm-esr38
comm-miramar = /repo/hg/mozilla/releases/comm-miramar
comm-release = /repo/hg/mozilla/releases/comm-release
firefox-hotfixes = /repo/hg/mozilla/releases/firefox-hotfixes
#gaia-l10n = /repo/hg/mozilla/releases/gaia-l10n/*
mobile-1.1 = /repo/hg/mozilla/releases/mobile-1.1
mobile-2.0 = /repo/hg/mozilla/releases/mobile-2.0
mobile-5.0 = /repo/hg/mozilla/releases/mobile-5.0
mozilla-1.9.1 = /repo/hg/mozilla/releases/mozilla-1.9.1
mozilla-1.9.2 = /repo/hg/mozilla/releases/mozilla-1.9.2
mozilla-2.0 = /repo/hg/mozilla/releases/mozilla-2.0
mozilla-2.1 = /repo/hg/mozilla/releases/mozilla-2.1
mozilla-aurora = /repo/hg/mozilla/releases/mozilla-aurora
mozilla-beta = /repo/hg/mozilla/releases/mozilla-beta
mozilla-b2g18 = /repo/hg/mozilla/releases/mozilla-b2g18
mozilla-b2g18_v1_0_0 = /repo/hg/mozilla/releases/mozilla-b2g18_v1_0_0
mozilla-b2g18_v1_0_1 = /repo/hg/mozilla/releases/mozilla-b2g18_v1_0_1
mozilla-b2g18_v1_1_0 = /repo/hg/mozilla/releases/mozilla-b2g18_v1_1_0
mozilla-b2g18_v1_1_0_hd = /repo/hg/mozilla/releases/mozilla-b2g18_v1_1_0_hd
mozilla-b2g26_v1_2 = /repo/hg/mozilla/releases/mozilla-b2g26_v1_2
mozilla-b2g26_v1_2f = /repo/hg/mozilla/releases/mozilla-b2g26_v1_2f
mozilla-b2g28_v1_3 = /repo/hg/mozilla/releases/mozilla-b2g28_v1_3
mozilla-b2g28_v1_3t = /repo/hg/mozilla/releases/mozilla-b2g28_v1_3t
mozilla-b2g30_v1_4 = /repo/hg/mozilla/releases/mozilla-b2g30_v1_4
mozilla-b2g32_v2_0 = /repo/hg/mozilla/releases/mozilla-b2g32_v2_0
mozilla-b2g32_v2_0m = /repo/hg/mozilla/releases/mozilla-b2g32_v2_0m
mozilla-b2g34_v2_1 = /repo/hg/mozilla/releases/mozilla-b2g34_v2_1
mozilla-b2g34_v2_1s = /repo/hg/mozilla/releases/mozilla-b2g34_v2_1s
mozilla-b2g37_v2_2 = /repo/hg/mozilla/releases/mozilla-b2g37_v2_2
mozilla-b2g37_v2_2r = /repo/hg/mozilla/releases/mozilla-b2g37_v2_2r
mozilla-b2g44_v2_5 = /repo/hg/mozilla/releases/mozilla-b2g44_v2_5
mozilla-esr10 = /repo/hg/mozilla/releases/mozilla-esr10
mozilla-esr17 = /repo/hg/mozilla/releases/mozilla-esr17
mozilla-esr24 = /repo/hg/mozilla/releases/mozilla-esr24
mozilla-esr31 = /repo/hg/mozilla/releases/mozilla-esr31
mozilla-esr38 = /repo/hg/mozilla/releases/mozilla-esr38
mozilla-release = /repo/hg/mozilla/releases/mozilla-release
mozilla-miramar = /repo/hg/mozilla/releases/mozilla-miramar
mozilla-mobile-5.0 = /repo/hg/mozilla/releases/mozilla-mobile-5.0
mozilla-mobile-6.0 = /repo/hg/mozilla/releases/mozilla-mobile-6.0
mobile-6.0 = /repo/hg/mozilla/releases/mobile-6.0
