GITHUB_TOKEN={{ servo_github_token | mandatory }}

LINEAR_GIT_SOURCE_URL={{ servo_linear_git_source_url | mandatory }}
LINEAR_GIT_PUSH_URL={{ servo_linear_git_push_url | mandatory }}
LINEAR_HG_PUSH_URL={{ servo_linear_hg_push_url | mandatory }}

OVERLAY_SOURCE_URL={{ servo_overlay_source_url | mandatory }}
OVERLAY_DEST_URL={{ servo_overlay_dest_url | mandatory }}
OVERLAY_RESULT_PUSH_URL={{ servo_overlay_result_push_url | mandatory }}
OVERLAY_PUSH_TREE={{ servo_overlay_push_tree | mandatory }}
OVERLAY_ERROR_TOPIC={{ servo_overlay_error_topic | mandatory }}

SHAMAP_S3_UPLOAD_URL={{ servo_shamap_s3_upload_url | mandatory }}

BACKOUT_INTEGRATION_URL={{ backout_integration_url | mandatory }}
BACKOUT_GITHUB_NAME={{ backout_github_name | mandatory }}
BACKOUT_AUTHOR={{ backout_author | mandatory }}
BACKOUT_S3_UPLOAD_URL={{ backout_s3_upload_url | mandatory }}
