[servo]
pulse_host = {{ pulse_host | default("pulse.mozilla.org") }}
pulse_port = {{ pulse_port | default(5671) }}
pulse_ssl = {{ pulse_ssl | default("true") }}
pulse_userid = {{ pulse_userid | mandatory }}
pulse_password = {{ pulse_password | mandatory }}

pulse_github_exchange = exchange/github-webhooks/v1
pulse_github_queue = {{ servo_pulse_queue | default("servo-linearize") }}
pulse_github_routing_key = #

pulse_hgmo_exchange = exchange/hgpushes/v2
pulse_hgmo_queue = {{ servo_pulse_hgmo_queue | default("servo-overlay") }}

servo_github_name = servo/servo
servo_fetch_ref = refs/heads/master

hg_converted = {{ servo_linear_hg_url }}

backout_integration_url = {{ backout_integration_url | mandatory }}
backout_github_name = {{ backout_github_name | mandatory }}
backout_author = {{ backout_author | mandatory }}
