LogLevel VERBOSE
PermitRootLogin without-password
PasswordAuthentication no
Protocol 2

AcceptEnv LANG LC_ALL LC_MESSAGES
ChallengeResponseAuthentication no

UseLPK yes
# This entry gets replaced by the entrypoint script.
LpkServers {{ ldap_uri | mandatory }}
LpkForceTLS no
LpkUIDAttribute {{ uid_attribute | mandatory }}
LpkBindDN {{ bind_dn | mandatory }}
LpkBindPw {{ bind_pw | mandatory }}
LpkUserDN {{ basedn | mandatory }}

Subsystem sftp /usr/libexec/openssh/sftp-server

{% if force_command %}
ForceCommand {{ force_command }}
{% endif %}
