{
  "auth": {
    "mozreview": "{{ secrets.mozreview_token }}"
  },
  "database": "dbname={{ secrets.db_name }} user={{ secrets.db_user }} password={{ secrets.db_password }} host={{ secrets.db_host }}",
  "repos" : {{ repos | to_nice_json }},
  "pingback": {
    "reviewboard.mozilla.org": {
      "type": "mozreview",
      "user": "{{ secrets.bugzilla_user }}",
      "password": "{{ secrets.bugzilla_password }}"
    },
    "api-private.lando.devsvcprod.mozaws.net": {
      "type": "lando",
      "api-key": "{{ secrets.lando_pingback_api_key }}"
    }
  },
  "{{ secrets.lando_bucket }}": {
    "to-be-determined": {
      "aws_access_key_id": "{{ secrets.lando_aws_access_key_id }}",
      "aws_secret_access_key": "{{ secrets.lando_aws_secret_access_key }}"
    }
  }
}
