{
  "auth": {
    "mozreview": "{{ secrets.mozreview_token }}"
  },
  "bugzilla": {
    "user": "{{ secrets.bugzilla_user }}",
    "passwd": "{{ secrets.bugzilla_password  }}"
  },
  "database": "dbname={{ secrets.db_name }} user={{ secrets.db_user }} password={{ secrets.db_password }} host={{ secrets.db_host }}",
  "repos" : {{ repos | to_nice_json }},
  "pingback_allow": [
    "reviewboard.mozilla.org"
  ],
  "patch_url_buckets": {
    "to-be-determined": {
      "aws_access_key_id": "{{ secrets.lando_aws_access_key_id }}",
      "aws_secret_access_key": "{{ secrets.lando_aws_secret_access_key }}"
    }
  }
}
