Host hg.mozilla.org
    User {{ secrets.ldap_user }}
    IdentityFile ~/.ssh/{{ secrets.ssh_key_name }}
Host reviewboard-hg.mozilla.org
    User {{ secrets.ldap_user }}
    IdentityFile ~/.ssh/{{ secrets.ssh_key_name }}
