<div class="title">
{node|short}: {desc|strip|firstline|escape}<span class="logtags"> {inbranch%inbranchtag}{branches%branchtag}{tags%tagtag}</span>
</div>
<div class="title_text">
<div class="log_link">
<a href="{url|urlescape}rev/{node|short}{sessionvars%urlparameter}">diff</a><br/>
<a href="{url|urlescape}file/{node|short}{sessionvars%urlparameter}">browse</a>
</div>
<cite>{author|obfuscate}</cite> - {date|rfc822date} - rev {rev}<br/>
</div>
<div class="log_body">
{desc|strip|escape|addbreaks|buglink}
<br/>
<br/>
</div>
