<div class="page_footer">
<div class="page_footer_text">{repo|escape}</div>
<div class="page_footer_text" style="padding-left: 10px">Deployed from <a href="https://hg.mozilla.org/hgcustom/version-control-tools/rev/VCTNODE">VCTNODE</a> at DEPLOYDATE.</div>
<div class="feed">
<a href="{url|urlescape}atom-log"><img src="{staticurl}livemarks16.png" alt="Feed" title="Feed of repository changes"/></a>
</div>
<br />
{motd}
</div>
</body>
</html>
