<div class="page_footer">
<div class="page_footer_text">{repo|escape}</div>
<div class="feed">
<a href="{url}atom-log"><img src="http://www.mozilla.org/images/livemarks16.png" alt="Feed" title="Feed of repository changes"></a>
</div>
<br />
{motd}
</div>
</body>
</html>
