<li class="parity{parity}" data-node="{node}">
 <div class="fg">
  <span class="desc">
   <a class="list" href="{url|urlescape}rev/{node}{sessionvars%urlparameter}"><b>{desc|strip|firstline|escape|nonempty}</b></a>
  </span>
  {alltags}
  <div class="info">{date|age}, by {author|person}</div>
 </div>
</li>
