{header}
<title>Mercurial repositories index</title>

<meta property="og:title" content="hg.mozilla.org index" />
<meta property="og:url" content="{url|urlescape}" />
<meta property="og:description" content="hg.mozilla.org repository index" />

</head>
<body>

<div class="page_header">
    <div class="logo">
        <a href="{logourl}">
            <img src="{staticurl|urlescape}{logoimg}" alt="mercurial" />
        </a>
    </div>
    <a href="/">Mercurial</a> {pathdef%breadcrumb}
</div>

<table cellspacing="0">
    <tr>
        <td><a href="?sort={sort_name}">Name</a></td>
        <td><a href="?sort={sort_description}">Description</a></td>
        <td><a href="?sort={sort_lastchange}">Last modified</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    {entries%indexentry}
</table>
&nbsp;
&nbsp;
&nbsp;
<div class="title">
     Repository Layout
</div>
<table cellspacing="0">
    <tr>
        <td><a href="/">/</a></td>
        <td>Mozilla top level repositories</td>
    </tr>
    <tr>
        <td><a href="/build">build</a></td>
        <td>Build team projects</td>
    </tr>
    <tr>
        <td><a href="/conduit-testing">conduit-testing</a></td>
        <td>Test repos that integrate with lower environments</td>
    </tr>
    <tr>
        <td><a href="/experimental">experimental</a></td>
        <td>Playground for version control wizards</td>
    </tr>
    <tr>
        <td><a href="/hgcustom">hgcustom</a></td>
        <td>Mercurial customizations</td>
    </tr>
    <tr>
        <td><a href="/integration">integration</a></td>
        <td>Source code integration work</td>
    </tr>
    <tr>
        <td><a href="/projects">projects</a></td>
        <td>Miscellaneous project repositories</td>
    </tr>
    <tr>
        <td><a href="/releases">releases</a></td>
        <td>Release branches (use releases/l10n-branchname for l10n repos)</td>
    </tr>
    <tr>
        <td><a href="/SeaMonkey">SeaMonkey</a></td>
        <td>The SeaMonkey Project</td>
    </tr>
</table>
<div class="page_footer">
{motd}
</div>
</body>
</html>
