{header}
<title>Mercurial repositories index</title>
</head>
<body>

<div class="page_header">
    <a href="http://developer.mozilla.org/en/docs/Mercurial" title="Mercurial" style="float: right;">Mercurial</a>
    Repositories list
</div>

<table cellspacing="0">
    <tr>
        <td><a href="?sort={sort_name}">Name</a></td>
        <td><a href="?sort={sort_description}">Description</a></td>
        <td><a href="?sort={sort_lastchange}">Last change</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    {entries%indexentry}
</table>
&nbsp;
&nbsp;
&nbsp;
<div class="title">
     Repository Layout
</div>
<table cellspacing="0">
    <tr>
        <td><a href="/">/</a></td>
        <td>Mozilla top level repositories.</td>
    </tr>
    <tr>
        <td><a href="/automation">automation</a></td>
        <td>QA automation projects.</td>
    </tr>
    <tr>
        <td><a href="/build">build</a></td>
        <td>Build team projects.</td>
    </tr>
    <tr>
        <td><a href="/hgcustom">hgcustom</a></td>
        <td>Mercurial customizations.</td>
    </tr>
    <tr>
        <td><a href="/incubator">incubator</a></td>
        <td>Incubator projects.</td>
    </tr>
    <tr>
        <td><a href="/l10n">l10n</a></td>
        <td>L10n infrastructure projects.</td>
    </tr>
    <tr>
        <td><a href="/l10n-central">l10n-central</a></td>
        <td>L10n repositories.</td>
    </tr>
    <tr>
        <td><a href="/labs">labs</a></td>
        <td>Mozilla <a href="http://labs.mozilla.com/">labs</a> projects.</td>
    </tr>
    <tr>
        <td><a href="/projects">projects</a></td>
        <td>Miscellaneous project repositories.</td>
    </tr>
    <tr>
        <td><a href="/qa">qa</a></td>
        <td>QA projects and functional test repositories.</td>
    </tr>
    <tr>
        <td><a href="/integration">integration</a></td>
        <td>Source code integration work.</td>
    </tr>
    <tr>
        <td><a href="/releases">releases</a></td>
        <td>Release branches (use releases/l10n-branchname for l10n repos).</td>
    </tr>
    <tr>
        <td><a href="/releases/l10n/mozilla-aurora">releases/l10n/mozilla-aurora</a></td>
        <td>Aurora l10n repositories.</td>
    </tr>
    <tr>
        <td><a href="/releases/l10n/mozilla-beta">releases/l10n/mozilla-beta</a></td>
        <td>Beta l10n repositories</td>
    </tr>
    <tr>
        <td><a href="/releases/l10n/mozilla-release">releases/l10n/mozilla-release</a></td>
        <td>Release l10n repositories</td>
    </tr>
    <tr>
        <td><a href="/rewriting-and-analysis">rewriting-and-analysis</a></td>
        <td>Rewriting &amp; Analysis.</td>
    </tr>
    <tr>
        <td><a href="/services">services</a></td>
        <td>Code related to Mozilla services projects (Firefox sync, etc..)</td>
    </tr>
    <tr>
        <td><a href="/users">users</a></td>
        <td>User code repositories</td>
    </tr>
    <tr>
        <td><a href="/weave-l10n">weave-l10n</a></td>
        <td>l10n repos for weave code.</td>
    </tr>
    <tr>
        <td><a href="/webtools">webtools</a></td>
        <td>Webtool projects like mxr, etc.</td>
    </tr>
    <tr>
        <td><a href="/www">www</a></td>
        <td>Code related to various mozilla websites.</td>
    </tr>
</table>
<div class="page_footer">
{motd}
</div>
</body>
</html>
