{header}
<title>Mercurial repository not found</title>
</head>

<body>

<div class="page_header">
<div class="logo">
    <a href="{logourl}">
        <img src="{staticurl|urlescape}{logoimg}" alt="mercurial" />
    </a>
</div>
</div>

<div class="page_body">
The specified repository "{repo|escape}" is unknown, sorry.
<br/>
<br/>
Please go back to the <a href="{url|urlescape}">main repository list page</a>.
</div>

{footer}
