{header}
<title>{repo|escape}: pushlog</title>
<link rel="alternate" type="application/atom+xml"
   href="{url}pushlog" title="Atom feed for {repo|escape} pushlog"/>
<style type="text/css">
#localize, .expand \{
  font-size: x-small;
}
</style>
<script type="text/javascript" src="{staticurl}jquery-1.2.6.min.js"></script>
<script type="text/javascript">// <![CDATA
$(document).ready(function () \{
  // add click handler to the localize dates link
  $('#localize').show().click(function () \{
     $(this).hide();
     $('.date').each(function (i) \{
       $(this).text(new Date($(this).text()).toLocaleString());
     });
     return false;
  });
  // hide things that should be hidden
  $('.hidden').hide();
  // add click handler to unhide hidden things
  $('.expand').click(function () \{
    if ($(this).text() == "[Expand]")
      $(this).text("[Collapse]");
    else
      $(this).text("[Expand]");
    
    var pushid = $(this).attr("class");
    pushid = '.' + pushid.match(/id\d+/);
    $(pushid).nextAll(pushid).toggle();
    return false;
  });
});
// ]]>
</script>
</head>
<body>

<div class="page_header">
<a href="http://developer.mozilla.org/en/docs/Mercurial" title="Mercurial" style="float: right;">Mercurial</a><a href="{url}summary{sessionvars%urlparameter}">{repo|escape}</a> - pushlog
</div>

<form action="{url}pushloghtml">
<div class="search">
From:
<input type="text" name="startdate"  value="{startdate|escape}"/>
To:
<input type="text" name="enddate"  value="{enddate|escape}"/>
<input type="submit" value="Search"/>
</div>
</form>
<div class="page_nav">
<a href="{url}summary{sessionvars%urlparameter}">summary</a> |
pushlog |
<a href="{url}graph{sessionvars%urlparameter}">graph</a> |
<a href="{url}tags{sessionvars%urlparameter}">tags</a> |
<a href="{url}file/tip{sessionvars%urlparameter}">files</a>{archives%archiveentry}
<br/>
Page {changenav%navpushentry}<br/>
</div>

<div class="title">{querydescription}</div>
<table cellspacing="0">
<tr><th>User<br/>Push date <a href="#" id="localize" style="display:none">[To Local]</a></th><th>Changeset</th><th>Patch author &mdash; Commit message</th></tr>
{entries%pushlogentry}
</table>

<div class="page_nav">
Page {changenav%navpushentry}
</div>

{footer}
