[web]
style = gitweb_mozilla

[paths]
camino = /repo/hg/mozilla/camino
chatzilla = /repo/hg/mozilla/chatzilla
comm-central = /repo/hg/mozilla/comm-central
cvs-trunk-mirror = /repo/hg/mozilla/cvs-trunk-mirror
dom-inspector = /repo/hg/mozilla/dom-inspector
graphs = /repo/hg/mozilla/graphs
ipccode = /repo/hg/mozilla/ipccode
mobile-browser = /repo/hg/mozilla/mobile-browser
mozilla-build = /repo/hg/mozilla/mozilla-build
mozilla-central = /repo/hg/mozilla/mozilla-central
penelope = /repo/hg/mozilla/penelope
pyxpcom = /repo/hg/mozilla/pyxpcom
schema-validation = /repo/hg/mozilla/schema-validation
tamarin-redux = /repo/hg/mozilla/tamarin-redux
try = /repo/hg/mozilla/try
try-comm-central = /repo/hg/mozilla/try-comm-central
venkman = /repo/hg/mozilla/venkman
xforms = /repo/hg/mozilla/xforms
tbbuild = /repo/hg/mozilla/tbbuild
