[web]
style = gitweb_mozilla

[paths]
comm-central = /repo/hg/mozilla/comm-central
comm-unified = /repo/hg/mozilla/comm-unified
mozilla-build = /repo/hg/mozilla/mozilla-build
mozilla-central = /repo/hg/mozilla/mozilla-central
mozilla-unified = /repo/hg/mozilla/mozilla-unified
try = /repo/hg/mozilla/try
try-comm-central = /repo/hg/mozilla/try-comm-central
