[Unit]
Description=Autoland python daemon
After=network.target auditd.service sshd.service

[Service]
User=autoland
Group=autoland
WorkingDirectory=/home/autoland/version-control-tools/autoland/autoland
ExecStart=/home/autoland/autoland_venv/bin/python autoland.py

[Install]
WantedBy=multi-user.target

