# Triggered by Pulse events and a timer to create servo/servo pull-requests
# when commits are backed out of integration-autoland.

[Unit]
Description=Generate Servo PRs from Firefox backouts
After=local-fs.target network.target nss-lookup.target
#OnFailure=mail-unit-output@%n.service
StartLimitBurst=20

[Service]
Type=oneshot
EnvironmentFile=/home/servo-sync/servo-sync.env
ExecStart=/home/servo-sync/venv/bin/servo-backout-pr-cli \
  $BACKOUT_INTEGRATION_URL \
  /home/servo-sync/backout-autoland \
  $BACKOUT_GITHUB_NAME \
  /home/servo-sync/backout-servo \
  --author ${BACKOUT_AUTHOR} \
  --hg /home/servo-sync/venv/bin/hg \
  --tracking-s3-upload-url $BACKOUT_S3_UPLOAD_URL

User=servo-sync
Group=servo-sync
