[Unit]
Description=Periodically overlay Servo into a Firefox repo
After=local-fs.target network.target nss-lookup.target

[Timer]
OnUnitInactiveSec=600
OnBootSec=60

[Install]
WantedBy=multi-user.target
