--find-links https://s3-us-west-2.amazonaws.com/moz-packages/pypi/index.html

coverage

# Pushlog tests.
feedparser

futures==3.1.1

# For hgmo extension.
ipaddress

# mozbuild dependency.
mach==0.5.1

Mercurial==4.9.1
mock

# For moz.build reading in hgmo extension.
mozbuild==0.2

nose
pytest
redo
requests
PyYAML
