--find-links https://s3-us-west-2.amazonaws.com/moz-packages/pypi/index.html

coverage
# Pushlog tests.
feedparser==5.1.3

futures==3.1.1

# For hgmo extension.
ipaddress==1.0.16

# mozbuild dependency.
mach==0.5.1

Mercurial==4.7.2
mock

# For moz.build reading in hgmo extension.
mozbuild==0.2

nose
pytest
redo==1.6
requests==2.10.0
PyYAML==3.12
