# Enable the Apache plugin
[[inputs.apache]]
urls = ["http://127.0.0.1/server-status?auto"]

# Monitor Kafka consumer lag via the exec plugin
[[inputs.exec]]
commands = [
  "/var/hg/venv_replication/bin/check_vcsreplicator_lag --telegraf /etc/mercurial/vcsreplicator.ini"
]

data_format = "json"
timeout = "60s"
name_suffix = "_vcsreplicator_consumer"
tag_keys = [
  "partition",
]

[[inputs.exec]]
commands = [
  "/var/hg/venv_replication/bin/check_vcsreplicator_lag --telegraf /etc/mercurial/vcsreplicator-pending.ini"
]

data_format = "json"
timeout = "60s"
name_suffix = "_vcsreplicator_headsconsumer"
tag_keys = [
  "partition",
]

# Enable Logparser inputs plugin
[[inputs.logparser]]
files = ["/var/log/httpd/hg.mozilla.org/access_log"]
from_beginning = true

    [inputs.logparser.grok]
    patterns = ["%{COMBINED_LOG_FORMAT}"]
    measurement = "apache_access_log"

# Enable the Procstat input plugin
# to monitor the vcsreplicator processes
[[inputs.procstat]]
pattern = "vcsreplicator-consumer"

[[inputs.procstat]]
pattern = "vcsreplicator-headsconsumer"
