# General telegraf stuff
[agent]
logfile = "/var/log/telegraf/telegraf.log"
debug = true

# Enable the cpu plugin
[[inputs.cpu]]
percpu = true
totalcpu = true

# Enable the Disk input plugin
[[inputs.disk]]
mount_points = [
  "/",
  "/repo/hg/mozilla",
]

# Enable the DiskIO input plugin
[[inputs.diskio]]

# Enable the Mem input plugin
[[inputs.mem]]

# Enable the Net input plugin
[[inputs.net]]

# Enable the Processes input plugin
[[inputs.processes]]

# Enable the System input plugin
[[inputs.system]]

# Send metrics to InfluxDB
[[outputs.influxdb]]
urls = ["http://10.191.5.155:8086"]

[[outputs.influxdb]]
urls = ["{{ influxdb_url_encrypted }}"]
database = "{{ influxdb_database_encrypted }}"
skip_database_creation = {{ influxdb_skip_database_creation | to_json }}
username = "{{ influxdb_username_encrypted }}"
password = "{{ influxdb_password_encrypted }}"

{% if inventory_hostname in zk_servers %}
{% include 'kafka.conf.j2' %}
{% endif %}

{% if hosttype == "hgweb" %}
{% include 'hgweb.conf.j2' %}
{% elif hosttype == "hgssh" %}
{% include 'hgssh.conf.j2' %}
{% endif %}
