{% extends "reviews/reviewable_base.html" %}
{% load djblets_extensions rb_extensions i18n %}
{% block title %}{{review_request.summary}} | {% trans "Review Request" %}{% endblock %}

{% block content %}
<div id="commits">
  <ul id="commit-list"></ul>
</div>
{% endblock content %}

{% block scripts-post %}
{% template_hook_point "rbmozui-commits-scripts" %}
<script type="text/template" id="commit-template">
  <div class="view">
    <label><%- summary %></label>
  </div>
</script>

<script>
  new RBMozUI.CommitsView({id: {{review_request.id}}});
</script>
{% endblock scripts-post %}
