{% load rbmozui %}

<ul id="new-navbar" style="display:none;">
  <li><a href="{{review_request.get_absolute_url}}"
    {% if request.resolver_match.url_name == 'review-request-detail' %}
    class="active"
    {% endif %}
  >Reviews</a></li>
  <li><a href="{{review_request.get_absolute_url}}diff/"
  {% if request.resolver_match.url_name == 'view-diff' %}
    class="active"
  {% endif %}>Diff</a></li>
  {% if review_request|isSquashed %}
  <li><a href="{% url 'rbmozui.views.commits' review_request.id %}"
  {% if request.resolver_match.url_name == 'view-diff' %}
    class="active"
  {% endif %}>Commits</a></li>
  {% endif %}
</ul>











