[Unit]
Description=Generate and Upload Bundle Files for Mercurial repos
After=network.target
OnFailure=mail-unit-output@%n.service

[Service]
ExecStart=/var/hg/venv_bundles/bin/python -u /var/hg/version-control-tools/scripts/generate-hg-s3-bundles -f /repo/hg/bundles/repos
Type=oneshot
User=hg
Group=hg
Nice=10

# Needed for HTTPS_PROXY in some environments.
EnvironmentFile=/etc/environment
