[Unit]
Description=Notify Pulse about Mercurial pushes
After=network.target remote-fs.target nss-lookup.target
PartOf=hg-master.target
OnFailure=mail-unit-output@%n.service

# We only want to have a single master at a time. Look for a file with the
# current hostname in it indicating that we are the master.
AssertPathExists=/repo/hg/master.%H

[Service]
WorkingDirectory=/
User=hg-notifier
Group=hg-notifier
PrivateTmp=true

ExecStart=/var/hg/venv_tools/bin/vcsreplicator-pulse-notifier /etc/mercurial/notifications.ini
Restart=always
TimeoutStopSec=60

SyslogIdentifier=pulsenotifier
SyslogFacility=local2

[Install]
WantedBy=hg-master.target
