[Unit]
Description=Aggregate replicated Mercurial pushes to a new Kafka topic
After=network.target remote-fs.target nss-lookup.target

[Service]
WorkingDirectory=/
User=hg-notifier
Group=hg-notifier
PrivateTmp=true

ExecStart=/var/hg/venv_tools/bin/vcsreplicator-aggregator /etc/mercurial/pushdataaggregator.ini
Restart=always
TimeoutStopSec=60

SyslogIdentifier=pushdataaggregator
SyslogFacility=local2

[Install]
WantedBy=multi-user.target
