# sha256: dYSYx38W4muLYa8m-NDbsRm3E_LY0WZoHsiSMR81IMQ
boto==2.38.0

# sha256: BK-ioGq33MqdgXF7Qgp6FIJgYemyYUpcd90kx1zPl-Q
futures==3.0.3

# sha256: bNRjtojZj-wcH2AuMW63dFrvDlXcV_6f8vIDzwhlyMc
kafka-python==0.9.4

# sha256: I_3AOFA5EbIdyeVWEYgD97HUFQ6xSTPS6j0P8Nxgq10
Mercurial==3.5.2

# sha256: QYqTw5en7asj5ViNvAZ6x0pyPts9VBvUk295R252Rdo
six==1.9.0
