--find-links https://s3-us-west-2.amazonaws.com/moz-packages/pypi/index.html
--find-links /var/tmp/pip

-r ../../../../pylib/vcsreplicator/requirements.in

boto3
boto
Mercurial==4.8
python-hglib
tabulate
