[Unit]
Description=Schedules periodic running of `replicatesync`.
PartOf=hg-master.target

# Wait for NFS mount to exist before starting, otherwise AssertPathExists
# below fails.
After=remote-fs.target

# We only want to have a single master at a time. Look for a file with the
# current hostname in it indicating that we are the master.
AssertPathExists=/repo/hg/master.%H

[Timer]
# Run every 5 minutes.
OnCalendar=*:0/5

[Install]
WantedBy=hg-master.target
