[Unit]
Description=Aggregate Mercurial repositories
After=network.target remote-fs.target nss-lookup.target
PartOf=hg-master.target
OnFailure=mail-unit-output@%n.service

# We only want to have a single master at a time. Look for a file with the
# current hostname in it indicating that we are the master.
AssertPathExists=/repo/hg/master.%H

[Service]
WorkingDirectory=/
User=hg-aggregate
Group=hg-aggregate
Nice=15
UMask=002
EnvironmentFile=/etc/sysconfig/unifyrepo
ExecStart=/var/hg/venv_tools/bin/python -u /var/hg/version-control-tools/hgext/unifyrepo/unify-daemon.py /var/hg/venv_tools/bin/hg $CONFIGS
Restart=always
SyslogIdentifier=unifyrepo
SyslogFacility=local2
PrivateTmp=true

[Install]
WantedBy=hg-master.target
