/*
 * We need to copy a few definitions from rb because there's a bug
 * that prevents to import a less file from another application.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=1168436 for more info.
 */
.border-radius(...) {
  -moz-border-radius: @arguments;
  -webkit-border-radius: @arguments;
  border-radius: @arguments;
}

@issue-opened-bg: #fff4B0;
@issue-opened-border-color: darken(@issue-opened-bg, 40%);
@issue-opened-link-color: darken(@issue-opened-bg, 60%);

/*******************************************************/


#mozreview-request-series{
  margin-top:5px;
}

#mozreview-child-requests {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-top:10px;
  min-width: 618px;
  border-top: 1px solid #C1C1C1;
  border-right: 1px solid #C1C1C1;

  & > thead,
  & > tbody {
    display:block;

    & > tr {
      display: flex;
      text-align: left;

      & > td,
      & > th {
        display: inline-block;
      }

      & > .hg {
        flex: 0 1;
        min-width: 18px;
      }

      & > .diff {
        flex: 0 1;
        min-width: 100px;
      }

      & > .status {
        flex: 0 2;
        min-width: 40px;
      }

      & > .truncate_text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > .reviews {
        flex: 5 0;
        min-width: 300px;
      }

      & > .reviewers {
        flex: 4 1;
        min-width: 100px;
      }
    }
  }

  & > tbody > tr {
    background-color: #FFFFFF;
  }
  & > tbody > tr[current="true"],
  & > tbody > tr:hover {
    background-color: #d4e0f3;
  }

   td,
   th {
     padding: 5px;
     border-left: 1px solid #C1C1C1;
     border-bottom: 1px solid #C1C1C1;
   }

   & > thead > tr {
     background: transparent url("/static/mozreview/header_bg.png") repeat-x scroll left bottom;
   }

   & > tbody td > a.commit_sha {
     font-family: monospace
   }

   /* This was copied from the rb dashboard less file.*/
    .approval,
    .issue-count,
    .no-approval,
    .shipit-count {
      min-width: 38px;
      text-align: center;
      display: inline-block;
      white-space: nowrap;
      min-height: 10pt;
      .border-radius(2px);
    }

    .no-approval {
      background-repeat: no-repeat;
      cursor: default;
      background-color: #DDD;
      border: 1px solid #6F6F6F;
      color: #151515;
      font-size: 9pt;
      font-family: monospace;
    }

    .approval {
      background-repeat: no-repeat;
      cursor: default;
      border: 1px #478a06 solid;
      font-size: 9pt;
      font-family: monospace;
      background-repeat: no-repeat;
      background-color: #DFFFD7;
      color: #0A1B00;
    }

    .issue-count {
      border: 1px darken(@issue-opened-bg, 50%) solid;
      text-decoration: none;
      color: #205003;
      background-repeat: no-repeat;
      background-image: linear-gradient(#FFF49C, #FFF49C 25%, #FFE303);
      font-size: 9pt;

      .issue-icon {
        color: darken(@issue-opened-bg, 60%);
        display: inline-block;
        padding: 0 3px 0 1px;
        text-align: center;
        font-weight: bold
       }
     }

    .shipit-count {
      background-image: url("/static/mozreview/shipit_bg.png");
      background-position: top left;
      background-repeat: repeat-x;
      background-color: #6bc810;
      border: 1px #478a06 solid;
      color: #205003;
    }
}

#error-container {
  &:not([haserror="true"]) {
    display: none;
  }

  border: 1px solid red;
  background-color: #ffb2b2;
  padding: 15px;

  h1 {
    font-size: 1.3em;
    font-weight: bold;
  }

  #error-stack {
    display: none;
  }

  #error-stack-toggle {
    display: block;
  }

  #error-close {
    display: block;
    margin-top: 1.5em;
  }
}

#automation-menu + .menu a {
  opacity: 0.5;
}


#ci-actions {
    border: 1px solid #B8B5A0;
    margin-top: 20px;
    padding: 5px;
    background-color: #FFFFFF;

    .action{
        min-height:32px;

        & > .action-icon {
            float: left;
            margin-right: 5px;
        }

        & > .rounded-icon {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin: 1px 3px 4px 0px;
        }

        &.action-success {
            & > .rounded-icon {
                background-color: #B0EFA0;
                border: 1px solid #478A06;
            }
        }

        &.action-pending {
            & > .rounded-icon {
                background-color: #E6E316;
                border: 1px solid #6F6F6F;
            }
        }

        &.action-failure {
            & > .rounded-icon {
                background-color: #A9020C;
                border: 1px solid #90010A;
            }
            & .action-heading {
                color: #90010A;
            }
        }

        & > .action-info {
            a {
                float:right;
            }
            h4 {
                margin: 0;
            }
            span.action-meta {
                display:block;
                overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .action-separator{
        background-color: #E4E3DD;
        height:1px;
        margin: 5px;
    }
}
