@import (reference) 'mozilla-theme-common.less';

/* Maximum with for reviews content */
#review_request .box-container, #reviews, #mozreview-review-header, #mozreview-child-requests {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Review Requests */
.review-request {
  .main {
    background: #FFF;
    border: 0;
    border-radius: 0;
  }

  .content .field-container > pre {
    font-family: inherit;
    border: 0;
    padding: 0;
    font-size: 90%;
  }

  .header {
    display: none;
  }
}

#mozreview-review-content {
  text-align: center;

  h1 {
    font-size: 28px;
    font-weight: normal;
    display: block;
    line-height: auto;
    margin-bottom: 10px;
  }

  .review-request-meta {
    color: #777;
    text-align: center;
    line-height: 1.6;
    font-size: 110%;
  }

  .review-request-details {
    margin: 20px auto 0 auto;
    font-family: inherit;
    color: inherit;
    text-align: left;
  }

  .status {
    margin-bottom: 10px;
  }

  #review-request-inputs {
    margin-top: 20px;

    input {
      .border-radius(3px);
      padding: 2px 6px;
      background: #F9F9F9;
      border: 1px solid #ddd;
      font-family: monospace;
      font-size: 16px !important;
      width: 300px;
      margin-right: 20px;
      text-overflow: ellipsis;
    }
  }
}

#mozreview-review-content {
  text-align: center;

  h1 {
    font-size: 28px;
    font-weight: normal;
    display: block;
    line-height: auto;
    margin-bottom: 10px;
  }

  .review-request-meta {
    color: #777;
    text-align: center;
    line-height: 1.6;
    font-size: 110%;
  }

  #review-request-inputs {
    margin-top: 20px;

    input {
      .border-radius(3px);
      padding: 2px 6px;
      background: #F9F9F9;
      border: 1px solid #ddd;
      font-family: monospace;
      font-size: 16px !important;
      width: 300px;
      margin-right: 20px;
    }
  }
}

.status {
  .review-status-icon();
  font-size: 20px;

  &.no-approval {
    cursor: default;
  }

  &.approval {
    cursor: default;
    background-color: @approval-background-color;
  }

  &.approval-issues {
    background: #fff4B0;
  }

  .issue-count {
    text-decoration: none;
    color: #000;
  }

  .shipit-count {
    background-image: url("../shipit_bg.png");
    background-position: top left;
    background-repeat: repeat-x;
    background-color: #6bc810;
    border: 1px solid @approval-border-color;
    color: #205003;
  }
}



/* Review Banners */
.banner {
  border-bottom: 0;
}

/* Review Comments */
.box, .box-inner {
  .border-radius(0);
}

#reviews {
  .review .box-inner {
    border: 1px @moz-blue-dark solid;
  }

  .box:before {
    border-right-color: @moz-blue-dark;
  }
}
