@import (reference) 'mozilla-theme-common.less';

body {
  background: @moz-blue-light;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  padding-top: 8px;
}

/* Logo and Title */
#headerbar {
  height: 18px;

  #title a {
    font-weight: bold;
    font-size: 100%;
  }

  #rbinfo > a {
      display: block;
      width: 60px;
      height: 60px;
      background: url("../logo.svg") 3px -6px no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 8px;
      z-index: 50;

      img {
          display: none;
      }
  }
}

@media screen and (max-width: 720px), screen and (max-device-width: 720px) and (orientation: landscape) {
  #headerbar {
    #rbinfo a {
      display: none;
    }

    #nav_toggle {
      top: -10px;
    }

    #search {
      position: absolute;
      top: -10px;
      right: 0;
      left: 60px;
    }
  }

  #navbar-container {
    display: none;
  }

  #headerbar, .reviewable-page #headerbar {
    border-bottom-color: @moz-blue-dark;
  }
}

/* Account Navigation */
#accountnav li {
  /* background colors on hover; set twice for reviewable-page :( */
  &:hover,
  &:hover > a,
  ul,
  ul:hover,
  .reviewable-page &:hover,
  .reviewable-page & ul {
    background: #fff;
    border-color: #fff;
  }

  ul {
    .border-radius(0);
    min-width: 150px;
    border-color: @moz-blue-dark;
  }

  &:hover ul,
  .reviewable-page &:hover ul {
    margin-top: -1px;
    border-color:@moz-blue-light;
  }

  .reviewable-page &:hover ul li:hover a,
  &:hover ul li:hover a {
    background: @moz-blue-dark;
  }
}

/* Main Navigation */
#navbar {
  border-bottom: 0;
}

#navbar-container {
  padding-bottom: 10px;
}

#topbar,
#navbar-container,
.reviewable-page #topbar,
.reviewable-page #navbar-container {
  background: inherit !important;
}

.reviewable-page #navbar-container,
#navbar-container {
  border-bottom: 1px solid @moz-blue-dark;
}

/* Search Bar */
#headerbar #search input,
.reviewable-page #headerbar #search input {
  .border-radius(0);
  padding: 3px 6px;
  border-color: #bbb;
}

/* Diff Tables and Data Grids */
#page-container {
  #page_sidebar {
    .page-sidebar-items {
      li.has-url {
        &:hover {
          .page-sidebar-row {
            .border-radius(0);
            background: @light-white;
            border-color: transparent !important;
          }
        }
      }

      li.active {
        .page-sidebar-row {
          .border-radius(0);
          border: 0 !important;
        }
      }

      li.active.has-url {
        &:hover {
          .page-sidebar-row {
            border: 0 !important;
          }
        }
      }

      li {
        .page-sidebar-row {
          font-size: 14px;
        }
      }
    }
  }

  .datagrid-header {
    background: @moz-blue-dark;
  }
}

body.datagrid-page {
  #page-container {
    .datagrid-main {
      .border-radius(0);
      border: 0 !important;
    }

    .datagrid-head {
      .border-radius(0);
      border-bottom: 0;
    }

    .datagrid-body {
      .datagrid-headers {
        .border-radius(0);
        border-bottom: 0;
      }
    }

    .datagrid-header {
      &:first-child {
        border-top-left-radius: 0;
      }
      &:last-child {
        border-top-right-radius: 0;
      }
    }

    .datagrid {
      tbody {
        td {
          padding: 10px;
        }
        th {
          padding: 10px;
        }
        tr {
          &:hover {
            background: @moz-blue-light;
          }
        }
      }
    }

    .datagrid-wrapper {
      .datagrid-titlebox {
        margin-left: 0;
      }
    }


    .datagrid-title-tabs .datagrid-tab {
      border: 0;

      &.active {
        background: @moz-blue-dark;
      }

      &:first-child {
        border-top-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
      }
    }
  }
}

.datagrid-header-drag.datagrid-header {
  background: @moz-blue-dark;
}

.datagrid tr.datagrid-empty-row {
  visibility: hidden;
}

.datagrid-titlebox ul li a, a.markdown-info {
  color: #777;
}

.datagrid-header {
  padding: 10px;
}

#view_controls {
  font-size: 12px;
}

.review-request #review_request_details {
  display: none;
}

.review-request #review_request_main {
  margin-right: 0;
}

/* Review Actions Bar */
.actions-container, .actions.page-tabs {
  background: @moz-blue-dark;
  border: 0;
}

.actions-container {
  .border-radius(0);
}

.review-request-header {
  line-height: 20px;
}

.review-request-header,
.actions.page-tabs li {
  border-bottom: 0;
}

.actions.page-tabs li.active {
  border: 0;
  background: #fff;
}

.actions.page-tabs {
  .border-radius(0);
}

.actions-left li:hover,
.actions li:hover,
.actions .menu,
.actions .menu li,
.actions-right-container > li > .actions-right,
.actions-right-container > li > .actions-right li {
  background-color: @moz-blue-dark;
}

.review-request .actions-container .star,
.actions-left .rb-icon.star {
  margin: 8px 5px;
}

.actions-right-container > li > .actions-right {
  border: 0;
}

.actions .menu li:hover {
  background: @moz-blue-light;
}

.actions .menu {
  border: 0;
}

/* Image attachment detail page */
.review-ui-box .review-ui-box-content {
  border: 0;
}

.image-review-ui,
.review-ui-box .actions-container,
.review-ui-box.has-review-ui-box-content .actions-container {
  .border-radius(0);
}

.review-ui-box .actions.page-tabs .active,
.review-ui-box .review-ui-header {
  background: #fff;
}

.review-ui-box .review-ui-header {
  background: @moz-blue-light;
  border-bottom-color: @moz-blue-light;
}

/* Diffs in Reviews */
#diffs .diff-box {
  .border-radius(0);
  border: 0;
  margin-top: 0;
}

#diff-details #diff_revision_label h1,
.review-request label {
  color: #000;
}

#diff_index, .diff-index {
  border: 0;
  margin: 0;
}

#diff_index table tr:first-child td, .diff-index table tr:first-child td {
  vertical-align: middle;
}

#diff_index table td, .diff-index table td {
  background: none;
  border-top: 1px solid #eee;
}

.sidebyside {
  thead {
    .filename-row th {
      background: @moz-blue-dark;
    }

    .revision-row th .rb-icon {
      vertical-align: sub;
    }
  }
}

/* Dialogs */
.modalbox-inner, .modalbox-title, .modalbox {
  background-image: none;
  .border-radius(0);
}

.modalbox-title {
  background: @moz-blue-dark;
  border-bottom-color: #888a85;
}

.modalbox-inner {
  background: @moz-blue-light;
}

.modalbox-bg {
  background: @light-white !important; /* overriding JS */
}

/* Comment Dialogs */
.comment-dlg {
  .border-radius(0);
}

/* Tooltips */
#user_infobox, #bug_infobox {
  .border-radius(0);
  background: #f8f8f8;
  border-color: #ccc;
  box-shadow: none;
}
