@approval-background-color: #DFFFD7;
@approval-border-color: #478A06;

@moz-blue-dark: #d4dde4;
@moz-blue-light: #eaeff2;

@light-white: rgba(255, 255, 255, 0.6);

.border-radius(...) {
  -moz-border-radius: @arguments;
  -webkit-border-radius: @arguments;
  border-radius: @arguments;
}

.review-status-icon(...) {
  width: auto;
  text-align: center;
  background: #EEE;
  font-weight: bold;
  padding: 3px 10px;
  display: inline-block;
}
