@import (reference) 'mozilla-theme-common.less';

/* Review Requests */
.review-request {
  .main {
    background: #fff;
    border: 0;
    border-radius: 0;
  }

  .content .field-container > pre {
    border: 1px dashed #999;
  }
}

.reviewable-page #mozreview-child-requests > thead > tr > .status,
.reviewable-page #mozreview-child-requests > tbody > tr > .status {
  min-width: 86px;
}

/* Review Banners */
.banner {
  border-bottom: 0;
}

/* Review Comments */
.box, .box-inner {
  .border-radius(0);
}

#reviews {
  .review .box-inner {
    border: 1px @moz-blue-dark solid;
  }

  .box:before {
    border-right-color: @moz-blue-dark;
  }
}
