#new-navbar {
  padding: 10px 0px;
  border-color: #555;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;

  li {
    display: inline;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    a {
      border-right: 1px solid #555;
      padding: 10px 50px;
      color: #333;
      text-decoration: none;
    }
  }
}

#draft-banner {
  cursor: pointer;

  #field_changedescription,
  p {
    display: none;
  }
}

#discard-banner {
  #btn-review-request-reopen,
  #field_changedescription,
  p {
    display: none;
  }
}

#draft-banner {
  #btn-draft-publish,
  #btn-review-request-discard,
  #btn-draft-discard {
    display: none;
  }
}

#review-banner {
  #review-banner-publish {
    display: none;
  }
}

// We allow publishing on parents so override hiding
// the buttons.
.parent-request #draft-banner {
  #btn-draft-publish,
  #btn-review-request-discard,
  #btn-draft-discard {
    display: inline-block;
  }
}

.actions {
  #close-review-request-link,
  #shipit-link,
  #upload-diff-link {
    display: none;
  }
}

.parent-request .actions {
  #close-review-request-link {
    display: block;
  }
}

.mozreview-autoland-try-chooser-element {
  margin-bottom: 5px;
  margin-top: 5px;
}

label[for="mozreview-autoland-try-syntax"] {
  font-weight: bold;
}

#mozreview-autoland-try-syntax {
  width: 100%;
  height: 8ch;
}

#autoland-content {
  margin-bottom: 1em;

  #autoland-repo,
  .autoland-commit-desc {
    font-weight: bold;
    margin-top: 1em;
  }

  .autoland-commit-rev {
    font-family: monospace;
    margin-right: 2ch;
  }

  .autoland-commit-warning {
    color: red;
    font-weight: bold;
    margin-left: 1em;
  }
}

#try-syntax-error {
  display: none;
  color: red;
}

.parent-request {
  #id_shipit,
  label[for="id_shipit"] {
    display: none;
  }
}

.parent-request #review-form .edit-field {
  // Without the Ship It checkbox, the edit field gets squished up
  // with the Markdown Reference link unless we clear the latter's float.
  clear: right;
}

// Hide the "Reviewers" section; unfortunately these don't have IDs
// TODO: Update this to use fieldset IDs once they are available upstream
// (https://reviews.reviewboard.org/r/7721/)
#review_request_details {
  thead:nth-child(4), tbody:nth-child(5) {
    display: none;
  }
}

.parent-warning {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10pt;
}
