---

# yum will incur network traffic when URLs are specified. Download the
# package locally first so we can run offline after initial bootstrap.
- name: download Mercurial package
  get_url: url=https://s3-us-west-2.amazonaws.com/moz-packages/CentOS6/mercurial-3.6.2-1.x86_64.rpm
           dest=/var/tmp/mercurial-3.6.2-1.x86_64.rpm
           sha256sum=ecb4848807c1fe0ce059de079c235ba22885c4cc900dcbff9165cb10ec4ad885

# The yum module is slow. Run commands manually.
- name: installed Mercurial
  command: /usr/bin/yum install -y patch /var/tmp/mercurial-3.6.2-1.x86_64.rpm
