--find-links http://downloads.reviewboard.org/releases/django-evolution/0.7/
--find-links http://downloads.reviewboard.org/releases/Djblets/0.8/
--allow-external django-evolution
--allow-unverified django-evolution
--allow-external rbtools
--allow-unverified rbtools

# sha256: 406XZaYSD0ZkwSD0GYp4bDmg-35KWb0ZotbjqIS2OIk
amqp==1.4.6

# sha256: N4Ethjya0-NcBzTELgvwMgzow77YLNIK1UyzTRWBV7o
anyjson==0.3.3

# sha256: 0Bl46ajFHqezTscfP87RMmQ3zTZrnC4ZJlrOBQkk4OI
argparse==1.3.0

# sha256: byzISLK3Kt9TpvPyG-BJxHfoLECLznzttX7-sJhL3iQ
Django==1.6.11

# sha256: ca3Sb2gsLnZSxD0Bq2rBscaT2Gn2YxQvX3w3sAeI0WI
django-pipeline==1.3.27

# sha256: Nv3kS62iU_XEYsDkRT4Da80w0qK3JvdoxOiiJs8MwRM
django-evolution==0.7.5

# sha256: ow34iO4NoyxIN8Mo7PhZ6ZLtttGF76fUk0HMGUnbsk0
django-haystack==2.3.1

# sha256: qfdMdznM5ZfudDc4ZP1IZKaVmq8uvIXUDJH6LS1zWYg
Djblets==0.8.19

# sha256: x9txeBCraWX2bIzwOYqYydjfmC2jm0zX8WKRHriVlvo
docutils==0.12

# sha256: QNACzzYNDgNc8suYXhMI1BqqCHy_wTWy3C2EQpbqVGw
ecdsa==0.13

# sha256: f2UH1ADQft_R6oIF2jaAgAmwxTn1uKbgq1Qze5VebcM
feedparser==5.1.3

# sha256: n9IrNUpMR1WtjH0WHZP1AmrKTP6Zm9LlMWjxR2XALNY
futures==2.2.0

# sha256: fLtRSjUvghxpuOi9qmsuWXKFR6iWVQPHWGUsKCbRV7U
importlib==1.0.3

# sha256: SGL3SQ8T4GJXMS9X6BVT85jMcboDXQJjL_QXOcVy1K0
kombu==3.0.24

# sha256: gS7FJJ9F7cMTMLf7BuUqr2qy2DqicEfffLaDfvLSabY
Markdown==2.4.1

# sha256: eorPcym-2jjO6inGiSEldNmmv__iTPVlAV6gBm987j8
mercurial==3.4.1

# sha256: U0_2_u_hzQOYT0ROZBWqzHnAqF87ho7EGi_VADAEwx4
mimeparse==0.1.3

# sha256: 3Fi2CrGs4V9Safiq-CebD25SXZLec7D2ts-Hh6z7Uww
MozillaPulse==1.0.1

# sha256: gRBAtkfl1WhvhNtBXv1pfmJQAIsRK2kJunesBZ4UDHQ
MySQL-python==1.2.5

# sha256: HDW0rCBs7y0kgWyJ-Jzyid09OM98RJuz-re_bUPwGx8
ordereddict==1.1

# sha256: xnVVjqRXwUdce4L0rkBL31bERj9vJiZloxvfi5yahZw
paramiko==1.15.2

# sha256: JukyDnP1ghgmtrJAijv_Cowp5FFZUwBpoRfv0572Gfg
Pillow==2.7.0

# sha256: Fbzhklo9ZpQM65ozw8Vd6NlUYs4TbE1G6Gc_KRm0AdY
pillowfight==0.2

# sha256: CjoiZeHvsN76ci0fQpcw3J35da3DxgrH0rQyvfA8BB0
Pygments==2.0.2

# sha256: bxlzSLRvuM358_z8Kn1al9qV2z4uhmfPZXIWJ0_hsAk
python-dateutil==1.5

# sha256: Z-HBi2uZykwsjkoC4KlhdL9waJGaWv9Sg2YAl0we9Ng
python-memcached==1.54

# sha256: NYsFoMJgXBXPgzfRcBbrla_qrQfJAN-cLN524hlKklg
pytz==2015.2

# sha256: KMaFPB0T02W33HGmsF5f-1ZHH3CoUN4xivUNPXwN6i8
recaptcha-client==1.0.6

# sha256: fee8TQCm0FHbs2C0jrfzzQAjc9hyUvsLKEo8nEU6dnc
Whoosh==2.6.0

# sha256: 8s4emJsnLPy2d2FnY-Ci5-xlnv-meoiqkrOmVSj2Cjw
pycrypto==2.6.1

# sha256: SFxYdfcE05QYN1gC0971KqEk7KP85BG_dgBMsBBodzU
RBTools==0.6.1

# sha256: EkiQ9BcjyFqoLf4IB0Mq6kbSSusNr840CWnSCJVIwsM
requests==2.4.3

# sha256: QYqTw5en7asj5ViNvAZ6x0pyPts9VBvUk295R252Rdo
six==1.9.0
