[Unit]
Description=Configure hg repos bind mount
DefaultDependencies=no
After=repo_local-mozilla-chroot_mozbuild-repo-hg-mozilla.mount repo_local-mozilla-chroot_mozbuild-dev-urandom.service
Requires=repo_local-mozilla-chroot_mozbuild-repo-hg-mozilla.mount repo_local-mozilla-chroot_mozbuild-dev-urandom.service
Before=local-fs.target

[Service]
Type=oneshot

# Re-mount as read-only.
ExecStart=/bin/mount -o remount,ro,bind /repo_local/mozilla/chroot_mozbuild/repo/hg/mozilla

[Install]
WantedBy=local-fs.target
