[Unit]
Description=Scrape Mozilla IP address ranges using Bloxtool
After=network.target
OnFailure=mail-unit-output@%n.service

[Service]
ExecStart=/var/hg/venv_tools_py3/bin/python -u /var/hg/version-control-tools/scripts/scrape-manifest-ip-ranges.py moz-offices
Type=oneshot
User=hg
Group=hg
Nice=10
