[Unit]
Description=Schedules periodic scraping for Mozilla IP addresses
After=network.target remote-fs.target nss-lookup.target

[Timer]
# Once a day, midday
OnCalendar=*-*-* 18:00:00

[Install]
WantedBy=multi-user.target
