[Unit]
Description=dev filesystem for hg repos bind mount
DefaultDependencies=no
Before=local-fs.target

[Mount]
What=none
Where=/repo_local/mozilla/chroot_mozbuild/dev
Type=tmpfs
