--find-links https://s3-us-west-2.amazonaws.com/moz-packages/pypi/index.html
--find-links /var/tmp/pip

cbor2==4.1.0
futures==3.0.5
kafka-python==1.4.2
Mercurial==4.7.2
python-hglib==2.6.1
PyYAML==3.12
six==1.10.0
tabulate==0.7.5
