# sha256: eorPcym-2jjO6inGiSEldNmmv__iTPVlAV6gBm987j8
Mercurial==3.4.1
# sha256: fdlUDbl5fypbSR6v9jRGQwUFU-vLti93V2LL46A0PCU
mod-wsgi==4.4.11
# sha256: CjoiZeHvsN76ci0fQpcw3J35da3DxgrH0rQyvfA8BB0
Pygments==2.0.2
