--find-links https://s3-us-west-2.amazonaws.com/moz-packages/pypi/index.html
--find-links /var/tmp/pip

# Used to load replication state file.
cbor2

futures
kafka-python==1.4.2
Mercurial==4.8
python-hglib
PyYAML
six
tabulate
