--find-links https://s3-us-west-2.amazonaws.com/moz-packages/pypi/index.html
--find-links /var/tmp/pip

# Used to load replication state file.
cbor2

# Needed because wireproto caching extension is enabled globally.
boto3

futures
kafka-python==1.4.2
mercurial==5.0.1
python-hglib
PyYAML
six
tabulate
