--find-links https://s3-us-west-2.amazonaws.com/moz-packages/pypi/index.html
--find-links /var/tmp/pip

# Needed because wireproto caching extension is enabled globally.
boto3

cbor2
mercurial==5.3.2
python-hglib
requests
tabulate
