--find-links https://s3-us-west-2.amazonaws.com/moz-packages/pypi/index.html
--find-links /var/tmp/pip

bloxtool==0.33
cbor2==4.1.0
Cython==0.25.1
futures==3.0.3
Mercurial==4.7.2
python-hglib==2.6.1
requests==2.18.1
tabulate==0.7.5
