uri {{ ldap_uri | mandatory }}

{% if ldap_starttls | mandatory -%}
ssl start_tls
{%- else -%}
ssl no
{%- endif %}

base {{ basedn | mandatory }}
binddn {{ bind_dn | mandatory }}
bindpw {{ bind_pw | mandatory }}

scope sub

bind_timelimit 30

map passwd uid {{ uid_attribute | mandatory }}
map passwd homeDirectory {{ home_attribute | mandatory }}

uid nslcd
gid ldap
{% if ansible_distribution_major_version == '7' -%}
tls_cacertdir /etc/openldap/cacerts
tls_cacertfile /etc/openldap/cacerts/mozilla.crt
{%- endif %}
