[trusted]
users = hg, root, apache
groups = scm_level_1

[email]
method = /usr/sbin/sendmail
from = hg@{{ domain | mandatory }}

[diff]
# Enable git-style diffs in order to show binary files, other
# metadata provided by Git's diff format.
git = true
# Show extra lines of context because that's what a lot of Mozillians like.
unified = 8

[extensions]
blackbox =

pushlog = /var/hg/version-control-tools/hgext/pushlog/
pushlog-feed = /var/hg/version-control-tools/hgext/pushlog-legacy/pushlog-feed.py
readonly = /var/hg/version-control-tools/hgext/readonly
serverlog = /var/hg/version-control-tools/hgext/serverlog/
rbserver = /var/hg/version-control-tools/hgext/reviewboard/server.py

[blackbox]
track = *
maxsize = 10 MB
maxfiles = 2

[web]
templates = /var/hg/version-control-tools/hgtemplates
allow_push = *

# In production, the entire http:// URL space is redirected to https://.
# And, the load balancer terminates TLS and forwards plain text HTTP to
# the origin HTTP server. In the Docker test environment, we don't run TLS.
# So, we're not terminating TLS on a Mercurial server anywhere and never
# need to enforce the TLS requirement.
push_ssl = False

[interhg]
a_httplinks = s|(https?://\S+)|<a href="\1">\1</a>|i
bugzilla = s|((?:bug[\s#]*|b=#?|#)(\d{4,}))|<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=\2" title="Bug \2">\1</a>|i

[serverlog]
reporoot = /repo/hg/mozilla

[format]
generaldelta = true

[phases]
publish = False

[server]
validate = true

[bugzilla]
url = {{ bugzilla_url | mandatory }}

[reviewboard]
url = {{ reviewboard_url | mandatory }}
username = {{ reviewboard_username | mandatory }}
password = {{ reviewboard_password | mandatory }}
repobasepath = /repo/hg/mozilla

[pushlog]
remoteuserprefix = bmo

[readonly]
globalreasonfile = /etc/mercurial/readonlyreason
