#! /usr/bin/python -u
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

import datetime, os, sys, pwd
import hg_helper, ldap_helper
import logging


def QuoteForPOSIX(string):
    '''quote a string so it can be used as an argument in a  posix shell

    According to: http://www.unix.org/single_unix_specification/
    2.2.1 Escape Character(Backslash)

    A backslash that is not quoted shall preserve the literal value
    of the following character, with the exception of a <newline>.

    2.2.2 Single-Quotes

    Enclosing characters in single-quotes( '' ) shall preserve
    the literal value of each character within the single-quotes.
    A single-quote cannot occur within single-quotes.

    from: http://aspn.activestate.com/ASPN/Cookbook/Python/Recipe/498202
    thank you google!
    '''
    return "\\'".join("'" + p + "'" for p in string.split("'"))


if __name__ == '__main__':
    os.environ['PYTHONPATH'] = '/repo/hg/libraries/'

    user = os.environ.get('USER')

    if user == 'root':
        root_shell = pwd.getpwuid(0)[6]
        ssh_command = os.getenv('SSH_ORIGINAL_COMMAND')
        if ssh_command:
            os.system(root_shell + " -c " + QuoteForPOSIX(ssh_command))
        else:
            os.execl(root_shell, root_shell)
    else:
        user_status = hg_helper.is_valid_user(user)
        if user_status == 2:
            sys.stderr.write('Your mercurial account has been disabled due \
                              to inactivity.\nPlease file a bug at \
                              https://bugzilla.mozilla.org (or \
                              http://tinyurl.com/njcfhma) to re-activate \
                              your account.\n')
            sys.exit(0)

        elif user_status != 1:
            sys.stderr.write('You do not have a valid mercurial account!\n')
            sys.exit(0)

        hg_helper.serve()
        sys.exit(0)
