WSGISocketPrefix /var/run/wsgi
WSGIPythonHome /repo/hg/venv_hgweb

<VirtualHost *:80>
    ServerName {{ domain | mandatory }}
    DocumentRoot /repo/hg/webroot_wsgi

    SetEnv HGENCODING UTF-8
    SetEnv LC_TYPE UTF-8

    WSGIDaemonProcess hg processes={{ wsgi_processes }} threads=1 maximum-requests=20 deadlock-timeout=60 inactivity-timeout=300 user=hg group=hg display-name=hg
    WSGIProcessGroup hg

    # This is needed so sub-interpreters aren't used. This prevents a
    # known Mercurial bug (bug 1172739) and should make the server run a
    # bit faster since it won't have to constantly load modules.
    WSGIApplicationGroup %{GLOBAL}

    WSGIPassAuthorization On
    WSGIScriptAlias "/" "/repo/hg/webroot_wsgi/hgweb.wsgi"

    LogFormat "%h %v %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\" \"%{Cookie}i\""
    ErrorLog "/var/log/httpd/{{ domain | mandatory }}/error_log"
    CustomLog "/var/log/httpd/{{ domain | mandatory }}/access_log" combined env=!image

    # Add basic auth using Bugzilla username and API Key as credentials
    # to enable non-LDAP/SSH users to push.
    #
    # Mercurial performs all mutations on the not safe HTTP methods. We want
    # anonymous users to be able to use the server. So don't require auth for
    # GET and HEAD methods.
    # TODO require TLS for pushing, since a credential leak could ensue.
    # Bug 1210177.
    DefineExternalAuth bmoapikey pipe "/usr/bin/python2.7 /repo/hg/version-control-tools/scripts/httpd-authn-bugzilla-key {{ bugzilla_url | mandatory }}"
    <Directory />
        AuthType Basic
        AuthName "{{ bugzilla_url | mandatory }} username and API Key"
        AuthBasicProvider external
        AuthExternal bmoapikey
        <LimitExcept GET HEAD>
            Require valid-user
        </LimitExcept>
    </Directory>
</VirtualHost>
