WSGISocketPrefix /var/run/wsgi
WSGIPythonHome /var/hg/venv_hgweb

# Default is 100. Mercurial encodes some arguments in HTTP request headers.
# Repos with large numbers of heads (like review repos) run into these
# limits.
LimitRequestFields 1000

<VirtualHost *:80>
    ServerName {{ domain | mandatory }}
    DocumentRoot /repo/hg/webroot_wsgi

    SetEnv HGENCODING UTF-8
    SetEnv LC_TYPE UTF-8

    # This bot uses dozens of IP addresses and overwhelms the server. Ban it.
    SetEnvIfNoCase User-Agent "AhrefsBot" bad_bot

    WSGIDaemonProcess hg processes={{ wsgi_processes }} threads=1 maximum-requests=20 deadlock-timeout=60 inactivity-timeout=300 user=hg group=hg display-name=hg
    WSGIProcessGroup hg

    # This is needed so sub-interpreters aren't used. This prevents a
    # known Mercurial bug (bug 1172739) and should make the server run a
    # bit faster since it won't have to constantly load modules.
    WSGIApplicationGroup %{GLOBAL}

    WSGIPassAuthorization On
    WSGIScriptAlias "/" "/repo/hg/webroot_wsgi/hgweb.wsgi"

    LogFormat "%h %v %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\" \"%{Cookie}i\""
    ErrorLog "/var/log/httpd/{{ domain | mandatory }}/error_log"
    CustomLog "/var/log/httpd/{{ domain | mandatory }}/access_log" combined env=!image

    # Nested <If> doesn't work reliably. <Location> also doesn't work inside
    # <If>. So our strategy for complex conditionals is to set an environment
    # variable then do vanilla <If> or <If> inside <Location>.

    # Set a variable for Mercurial agent and wire protocol requests
    SetEnvIf User-Agent mercurial\/proto HG_PROTOCOL=1
    # SetEnvIf can't access the query string. Yes, really. So use mod_rewrite.
    RewriteCond %{QUERY_STRING} cmd= [NC]
    RewriteRule ^ - [E=HG_PROTOCOL:1]

    # Enable HSTS unless for HG clients.
    <If "-z env('HG_PROTOCOL')">
        Header set Strict-Transport-Security max-age=300
    </If>

    # Add basic auth using Bugzilla username and API Key as credentials
    # to enable non-LDAP/SSH users to push.
    #
    # Mercurial performs all mutations on the not safe HTTP methods. We want
    # anonymous users to be able to use the server. So don't require auth for
    # GET and HEAD methods.
    # TODO require TLS for pushing, since a credential leak could ensue.
    # Bug 1210177.
    DefineExternalAuth bmoapikey pipe "/usr/bin/python2.7 /var/hg/version-control-tools/scripts/httpd-authn-bugzilla-key {{ bugzilla_url | mandatory }}"
    <Directory />
        AuthType Basic
        AuthName "{{ bugzilla_url | mandatory }} username and API Key"
        AuthBasicProvider external
        AuthExternal bmoapikey

        # Require HTTP auth on HTTP methods that aren't GET or HEAD.
        <RequireAny>
            <RequireAll>
                Require method GET HEAD
                Require not env bad_bot
                Require all granted
            </RequireAll>
            <RequireAll>
                Require not method GET HEAD
                Require valid-user
            </RequireAll>
        </RequireAny>
    </Directory>
</VirtualHost>
