[mysql]
max_allowed_packet = 64M

[mysqld]
default_storage_engine = InnoDB
key_buffer_size = 2M
max_allowed_packet = 64M
innodb = FORCE
max_binlog_size = 64M
;character-set-server = utf8mb4
;collation-server = utf8mb4_general_ci
character-set-server = utf8
collation-server = utf8_general_ci

tmp_table_size = 16M
max_heap_table_size = 16M
query_cache_type = 0
query_cache_size = 0
max_connections = 500
thread_cache_size = 50
table_definition_cache = 1024
table_open_cache = 2048

innodb_flush_method = O_DIRECT
innodb_flush_neighbors = 0
innodb_log_files_in_group = 2
innodb_log_file_size = 8M
innodb_log_buffer_size = 4M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table = 1
innodb_ft_total_cache_size = 32M
innodb_ft_result_cache_limit = 32M

innodb_buffer_pool_size = 64M
innodb_write_io_threads = 8
innodb_read_io_threads = 8
innodb_change_buffer_max_size = 75
