[web]
style = gitweb_mozilla
baseurl = https://hg.mozilla.org/projects

[paths]
ash = /repo/hg/mozilla/projects/ash
birch = /repo/hg/mozilla/projects/birch
cedar = /repo/hg/mozilla/projects/cedar
comm-l10n = /repo/hg/mozilla/projects/comm-l10n
comm-strings-quarantine = /repo/hg/mozilla/projects/comm-strings-quarantine
cypress = /repo/hg/mozilla/projects/cypress
elm = /repo/hg/mozilla/projects/elm
holly = /repo/hg/mozilla/projects/holly
jamun = /repo/hg/mozilla/projects/jamun
larch = /repo/hg/mozilla/projects/larch
maple = /repo/hg/mozilla/projects/maple
nspr = /repo/hg/mozilla/projects/nspr
nss = /repo/hg/mozilla/projects/nss
nss-try = /repo/hg/mozilla/projects/nss-try
oak = /repo/hg/mozilla/projects/oak
pine = /repo/hg/mozilla/projects/pine
pine-stable = /repo/hg/mozilla/projects/pine-stable
toolchains = /repo/hg/mozilla/projects/toolchains
