{% comment %}
This is the template for the "Commits" list in a push-based review request.
{% endcomment %}

{% load i18n %}
{% load djblets_utils %}

<div id="error-container">
  <h1>Well, this is embarassing...</h1>
  <p>Something's gone wrong in either retrieving or manipulating these review requests. Sorry about that. <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Developer%20Services&component=MozReview" target="_blank">Please consider filing a bug,</a> and including the following information:</p>
  <p id="error-info"></p>
  <pre id="error-stack"></pre>
  <a href="#" id="error-stack-toggle">Stack</a>
  <a href="#" id="error-close">Close</a>
</div>
<div id="mozreview-request-series">
  <div id="mozreview-parent-request" data-id="{{parent_details.get_review_request.id}}">
    <a href="{{parent_details.get_review_request.get_absolute_url}}diff/#index_header">Complete Diff</a> |
    <a href="{{parent_details.get_review_request.get_absolute_url}}">Review Summary</a>
  </div>
  <table id="mozreview-child-requests">
    <thead>
    <tr>
      <th class="diff">{% trans "Diff" %}</th>
      <th class="reviews">{% trans "Reviews" %}</th>
      {% comment "TODO: show this column when the commit author will be available" %}
      <th class="submitter">{% trans "Submitter" %}</th>
      {% endcomment %}
      <th class="reviewers">{% trans "Reviewers" %}</th>
      <th class="status">{% trans "Status" %}</th>
    </tr>
    </thead>
    {% for child_details in children_details %}
    <tr {% if child_details.get_review_request.id = review_request_details.get_review_request.id %}current="true"{% endif %}>
      <td class="diff">
        <a title="See diff for commit {{child_details.extra_data|getitem:"p2rb.commit_id"|slice:":12"}}"
           class="commit_sha" href="{{child_details.get_review_request.get_absolute_url}}diff/#index_header">
          {{child_details.extra_data|getitem:"p2rb.commit_id"|slice:":12"}}
        </a>
      </td>
      <td class="reviews truncate_text">
        <a class="mozreview_commit_summary" title="{{ child_details.summary}}" href="{{child_details.get_review_request.get_absolute_url}}">
          {{ child_details.summary }}
        </a>
      </td>
      {% comment "TODO: show this column when the commit author will be available" %}
      <td>{{ child_details.submitter }}</td>
      {% endcomment %}
      <td class="reviewers">
        <span class="mozreview-child-reviewer-list"
              data-id="{{child_details.get_review_request.id}}">{{ child_details.target_people.all|join:", " }}</span>
      </td>
      <td class="status">
        {% if child_details.get_review_request.issue_open_count > 0 %}
        <span class="issue-count"> <span class="issue-icon">!</span> {{child_details.get_review_request.issue_open_count}}</span>
        {% elif child_details.get_review_request.approved %}
        <div class="approval" title="Approved For Landing - You have at least one valid ship it!">r+</div>
        {% else %}
        <div class="no-approval" title="{{child_details.get_review_request.approval_failure}}">r?</div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
