{% comment %}
This is the template for the "Commits" list in a push-based review request.
{% endcomment %}

{% load i18n %}
{% load djblets_utils %}
{% load mozreview %}
{% load reviewtags %}

<div id="error-container">
  <h1>Well, this is embarassing...</h1>
  <p>Something's gone wrong in either retrieving or manipulating these review requests. Sorry about that. <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=MozReview&component=General" target="_blank">Please consider filing a bug,</a> and including the following information:</p>
  <p id="error-info"></p>
  <pre id="error-stack"></pre>
  <a href="#" id="error-stack-toggle">Stack</a>
  <a href="#" id="error-close">Close</a>
</div>

<div id="mozreview-data"
  data-parent-review-id="{{ parent_details.get_review_request.id }}"
  data-selected-review-id="{{ review_request_details.get_review_request.id }}"
></div>

<div id="mozreview-request-series">
  <div id="mozreview-review-header">
      {% if child_details.get_review_request.id == review_request_details.get_review_request.id %}
        Review Summary
      {% else %}
        <a href="{{parent_details.get_review_request.get_absolute_url}}">Review Summary</a>
      {% endif %}
      &bull;
      {% if review_request_details.get_review_request.bugs_closed %}
        {% for bug in review_request_details.get_bug_list %}
          <a href="{{bug|bug_url:review_request_details}}">Bug #{{bug}}</a>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
        &bull;
      {% endif %}
      {{parent_details.get_review_request.repository}}
      {% if parent_details.get_review_request.id == review_request_details.get_review_request.id %}
        &bull; <a href="{{parent_details.get_review_request.get_absolute_url}}diff/#index_header">Squashed Diff</a>
      {% endif %}
  </div>

  {% include 'mozreview/commits-requests.html' %}

  {% if latest_autoland_requests %}
  <div id="ci-actions">
    {% for autoland_request in latest_autoland_requests %}
      {% if not forloop.first %}
      <div class="action-separator"></div>
      {% endif %}

      {% if autoland_request.last_known_status == 'P' %}
      <div class="action action-failure">
        <div class="action-icon rounded-icon"></div>
        <div class="action-info">
          <h4 class="action-heading">
              There was an error executing the Autoland request on {{autoland_request.repository_url|mercurial_repo_name}}
          </h4>
          <span class="action-meta">
            Requested by {{autoland_request.user_id|userid_to_user}}
          </span>
          <span class="action-meta" title="{{ autoland_request.last_error_msg|escape }}">
            {{ autoland_request.last_error_msg }}
          </span>
        </div>
      </div>
      {% endif %}

      {% if autoland_request.last_known_status == 'R' %}
      <div class="action action-requested">
        <div class="action-icon rounded-icon"></div>
        <div class="action-info">
          <h4 class="action-heading">
            Waiting for the Autoland request to execute on {{autoland_request.repository_url|mercurial_repo_name}}, hold tight
          </h4>
          <span class="action-meta">
            Requested by {{autoland_request.user_id|userid_to_user}}
          </span>
          <span class="action-meta">
            {% if autoland_request.last_details %}
            {{autoland_request.last_details}}
            {% else %}
            If the tree is closed autoland will retry your push for you until the tree opens.
            {% endif %}
          </span>
        </div>
      </div>
      {% endif %}

      {% if autoland_request.last_known_status == 'S' %}
      <div class="action action-landed">
        <div class="action-icon rounded-icon"></div>
        <div class="action-info">
          <a href="{{autoland_request.repository_url|ssh_to_https}}/rev/{{autoland_request.repository_revision}}">
            See it in Mercurial
          </a>
          <h4 class="action-heading">
            Commit(s) successfully landed on {{autoland_request.repository_url|mercurial_repo_name}}
          </h4>
          <span class="action-meta">
            Requested by {{autoland_request.user_id|userid_to_user}}
          </span>
        </div>
      </div>
        {% if autoland_request.repository_url|treeherder_repo %}
        <div class="action-separator"></div>
        <div class="action action-landed"
             data-repository="{{autoland_request.repository_url|treeherder_repo}}"
             data-revision="{{autoland_request.repository_revision}}">
          <div class="action-icon rounded-icon"></div>
          <div class="action-info">
            <a href="https://treeherder.mozilla.org/#/jobs?repo={{autoland_request.repository_url|treeherder_repo}}&revision={{autoland_request.repository_revision}}">
              See it in Treeherder
            </a>
            <h4 class="action-heading"></h4>
            <span class="action-meta"></span>
          </div>
        </div>
        {% endif%}
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>
