{% comment %}
This is the template for the "Commits" list in a review request. It is used
by both the commits template and the commits_summary_table_fragment view.
{% endcomment %}

{% load i18n %}
{% load djblets_utils %}
{% load mozreview %}

<table id="mozreview-child-requests">
  <thead>
  <tr>
    <th class="commits">{% trans "Commit" %}</th>
    {% comment "TODO: show this column when the commit author will be available" %}
    <th class="submitter">{% trans "Submitter" %}</th>
    {% endcomment %}
    <th class="reviewers">{% trans "Reviewers" %}</th>
    <th class="status">
      {% trans "Landable" %}
      <div class="help-icon help-tooltip" title="{% trans "Hover over each commit's status to view landable status" %}"><span>?</span></div>
    </th>
  </tr>
  </thead>
  {% for child_details in children_details %}
  <tr {% if child_details.get_review_request.id = review_request_details.get_review_request.id %}current="true"{% endif %}>

  <td class="commits">
    <div class="truncate_text">
        <a class="mozreview_commit_summary" title="See diff for commit {{child_details|commit_id|slice:":12"}}"
        href="{{child_details.get_review_request.get_absolute_url}}diff/#index_header">
          {{ child_details.summary }}
        </a>
        <ul>
          <li>
            <a href="{{child_details.get_review_request.repository.path}}/raw-rev/{{child_details|commit_id|slice:":12"}}">
              {% trans "View Raw" %}
            </a>
          </li><li>
            <a href="{{child_details.get_review_request.get_absolute_url}}" title="{{ child_details.summary}}">
                {% trans "View Reviews" %}
            </a>
        </li><li class="diffstat" title="{% trans "Lines inserted / deleted" %}">
            {{ child_details.get_review_request|diffstat_text:user }}
          </li>
        </ul>
    </div>
  </td>

    {% comment "TODO: show this column when the commit author will be available" %}
      <td>{{ child_details.submitter }}</td>
    {% endcomment %}

    <td class="reviewers">
      <span class="mozreview-child-reviewer-list"
            data-id="{{child_details.get_review_request.id}}">
        {% for reviewer, status in child_details|reviewers_status %}
          {% if not forloop.first %}, {% endif %}
          {% if child_details|isDraft %}
            <span class="reviewer-name">{{ reviewer }}</span>
          {% else %}
            <span class="reviewer-name {% if status.ship_it %}reviewer-ship-it{% endif %} {{status.review_flag|review_flag_class}}">{{ reviewer }}</span>
          {% endif %}
        {% endfor %}
      </span>
    </td>

    {% if child_details.get_review_request.issue_open_count > 0 %}
      <td class="status approval-issues" title="{{child_details.get_review_request.issue_open_count}} open issues">
        <a class="issue-count" href="{{child_details.get_review_request.get_absolute_url}}#issue-summary">
          ! {{child_details.get_review_request.issue_open_count}}
        </a>
      </td>
    {% elif child_details.get_review_request.approved %}
      <td class="status approval" title="Approved For Landing - You have at least one valid ship it!">
        r+
      </td>
    {% else %}
      <td class="status no-approval" title="{{child_details.get_review_request.approval_failure}}">
        r?
      </td>
    {% endif %}

  </tr>
  {% endfor %}
</table>
