{% comment %}
This is the template for the "Commits" list in a push-based review request.
{% endcomment %}

{% load i18n %}

<script type="text/template" id="mozreview-commits-child">
  <span title="<%= commitID %>"><%= commitIDShort %></span> - <span title="<%= description %>"><%= summary %></span>
  <div>
    <label>{% trans "Reviewers:" %}</label> <span class="child-rr-reviewers" data-id="<%= childID %>"><%= reviewers %></span>
  </div>
  <div><%= links %></div>
</script>

<script type="text/template" id="mozreview-commit-links">
  <a href="<%= childURL %>">[{% trans "Reviews" %}]</a> <a href="<%= childURL %>diff/#0">[{% trans "Diff" %}]</a>
</script>

<div id="error-container">
  <h1>Well, this is embarassing...</h1>
  <p>Something's gone wrong in either retrieving or manipulating these review requests. Sorry about that. <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Developer%20Services&component=MozReview" target="_blank">Please consider filing a bug,</a> and including the following information:</p>
  <p id="error-info"></p>
  <pre id="error-stack"></pre>
  <a href="#" id="error-stack-toggle">Stack</a>
  <a href="#" id="error-close">Close</a>
</div>

<ul id="mozreview-commits" class="current-arrow">
  <li id="mozreview-commits-root" data-id="{{root_rr.id}}">{% trans "Root review request" %}
    <div id="mozreview-commits-root-links"></div>
    <ul id="mozreview-commits-children" class="current-arrow"></ul>
  </li>
</ul>
