---
# WSGI processes are typically CPU bound. So run as many as we have
# virtual CPUs.
wsgi_processes: "{{ ansible_processor_vcpus }}"
httpd_start_servers: 8
httpd_min_spare_servers: 5
httpd_max_spare_servers: 20
# Run a few more httpd workers than WSGI workers so requests are available
# to be serviced once a WSGI worker is free.
httpd_server_limit: "{{ (ansible_processor_vcpus * 1.2)|round|int }}"
httpd_max_clients: "{{ (ansible_processor_vcpus * 1.2)|round|int }}"
httpd_max_requests_per_child: 4000

# Used for replication
mirror_source: hg.mozilla.org
mirror_ssh_user: vcs-sync@mozilla.com
mirror_ips: []
mirror_host_key: "undefined"
mirror_private_key: "undefined"

# Assume the chroot files aren't available unless told otherwise (since
# it is uncommon to deploy them).
chroot_mozbuild_exists: False

# Bloxtool connection settings (so we can retrieve Mozilla office IPs).
# Actual values will get pulled in from secrets.
bloxtool_user: bloxtool_user
bloxtool_password: bloxtool_password
bloxtool_url: https://bloxtool
