# This is a standalone config file to configure the vcsreplicator.
# It can be included by individual repositories to test vcsreplicator.

[extensions]
vcsreplicator = /repo/hg/version-control-tools/pylib/vcsreplicator/vcsreplicator/hgext.py

[replication]
role = producer

[replicationproducer]
hosts = {% for host in zk_servers %}{{ host}}:9092{% if not loop.last%}, {% endif %}{% endfor %}

clientid = 1
topic = pushdata
partition = 0
reqacks = -1
acktimeout = 10000

[replicationpathrewrites]
/repo/hg/mozilla/ = {moz}/
