[trusted]
users = hg, root
groups = scm_level_1, scm_level_2, scm_level_3, scm_autoland, scm_l10n, scm_private, scm_l10n_infra, scm_sec_sensitive, scm_l10n_drivers, scm_nss, scm_versioncontrol, scm_conduit

[email]
method = /usr/sbin/sendmail
from = hg@hg.mozilla.org

[diff]
showfunc = True
git = 1
unified = 8

[hooks]
sorthooks = True
changegroup.a_recordlogs = /var/hg/version-control-tools/scripts/record-pushes.sh
changegroup.push_printurls = python:mozhghooks.push_printurls.hook
#pretxnchangegroup.renamecase = python:mozhghooks.prevent_case_only_renames.hook
# Disabled because too many people are running into issues. Need more
# granular checking for now. Bug 787620.
#pretxnchangegroup.author_format = python:mozhghooks.author_format.hook

pretxnclose.populate_caches = python:mozhghooks.populate_caches.hook

[extensions]
blackbox =
clonebundles =

mozhooks = /var/hg/version-control-tools/hghooks/mozhghooks/extension.py
obsolescencehacks = /var/hg/version-control-tools/hgext/obsolescencehacks
pushlog = /var/hg/version-control-tools/hgext/pushlog
replicateowner = /var/hg/version-control-tools/hgext/replicateowner
serverlog = /var/hg/version-control-tools/hgext/serverlog
readonly = /var/hg/version-control-tools/hgext/readonly
vcsreplicator = /var/hg/version-control-tools/pylib/vcsreplicator/vcsreplicator/hgext.py

[blackbox]
track = *
maxsize = 10 MB
maxfiles = 2

[serverlog]
reporoot = /repo/hg/mozilla/

[server]
validate = True

[readonly]
globalreasonfile = /etc/mercurial/readonlyreason

[obshacks]
# Allow the replication user to exchange obsolescence markers, even if not
# enabled to normal users.
obsolescenceexchangeusers = vcs-sync@mozilla.com

[replication]
unfiltereduser = vcs-sync@mozilla.com

[replicationproducer]
hosts = {% for host in zk_servers %}{{ host}}:9092{% if not loop.last%}, {% endif %}{% endfor %}

clientid = 1
topic = pushdata
reqacks = -1
acktimeout = 10000

# Mapping of wire proto paths to partition number.
# Our allocation is as follows:
# 4 partitions for the main pool of repos
# 1 dedicated partition for Try repo (it is special)
# 3 partitions for all user repos
partitionmap.0try = 4:\{moz\}\/try
partitionmap.1user = 5,6,7:\{moz\}\/users\/.*
partitionmap.2main = 0,1,2,3:.*

[replicationpathrewrites]
/repo/hg/mozilla/ = {moz}/

[allowedroots]
# 8ba995b74e18334ab3707f27e9eb8f4e37ba3d29 is Firefox
# 55e5cc97e3ea74530708362596e771e2cfc1d667 is Servo conversion
8ba995b74e18334ab3707f27e9eb8f4e37ba3d29 = 55e5cc97e3ea74530708362596e771e2cfc1d667
