{% for host in hgweb_hosts %}
{% if hostvars[host] is defined %}
{% if hostvars[host].ansible_bond0 is defined %}
{{ hostvars[host].ansible_nodename }},{{ hostvars[host].ansible_bond0.ipv4.address }} ssh-rsa {{ hostvars[host].ansible_ssh_host_key_rsa_public }}
{% endif %}
{% endif %}
{% endfor %}
