--find-links https://s3-us-west-2.amazonaws.com/moz-packages/pypi/index.html
--find-links /var/tmp/pip

# Kafka is in this virtualenv to support replication on the hg leader server.
# It isn't needed on a standalone hg server. But installing it doesn't really
# hurt.
kafka-python==1.4.2
Mercurial==4.9.1
python-ldap
sentry-sdk
six
